{% extends 'base.html' %}
{% load static i18n wagtailcore_tags %}

{% block meta_title %}{{ page.title }}{% endblock meta_title %}
{% block meta_description %}{{ page.description }}{% endblock meta_description %}

{% block main %}
    <nav class="pages-sidebar">
        {% for sibling in page.get_siblings %}
            <ul>
                {% if sibling.live %}
                    <li>
                        <a href="{{ sibling.url }}"{% if sibling.id == page.id %} class="active"{% endif %} title="{{ sibling }}">{{ sibling }}</a>
                    </li>
                {% endif %}
            </ul>
        {% endfor %}
    </nav>
    <div class="container">
        <h1>{{ page.title }}</h1>
        {% include_block page.body %}
    </div>
{% endblock main %}
{% load wagtailcore_tags %}

