{% extends 'base.html' %}
{% load static i18n wagtailcore_tags %}

{% block meta_title %}{{ page.title }}{% endblock meta_title %}
{% block meta_description %}{{ page.description }}{% endblock meta_description %}

{% block main %}
    <!-- document scholarship records -->
    <h1>{{ page.title }}</h1>
    <div class="container">
        {% if page.contributors %}
            <dl>
                {% for contributor in page.contributors %}
                    <dd>{{ contributor }}</dd>
                    <dt>{{ contributor.role }}</dt>
                {% endfor %}
            </dl>
        {% endif %}
    </div>
{% endblock main %}
{% load wagtailcore_tags %}

