// -----------------------------------------------------------------------------
// Colors used across the project, including the theme.
// -----------------------------------------------------------------------------

@use "sass:color";
@use "sass:map";
@use "sass:meta";

// Basics
$white: #ffffff;
$black: #161616;
$blue: #146feb;
$transparent: transparent;

// Grays
$dark-gray: #3d3d3d;
$gray: #9e9e9e;
$light-gray: #ebebeb;
$off-white: #f7f7f7;

@mixin light-mode {
    --primary: #436043;
    --secondary: #567856;
    --tertiary: #7bac7b;
    --link-primary: #567856;
    --link-secondary: #436043;
    --on-primary: #ffffff;
    --on-secondary: #ffffff;
    --on-tertiary: #161616;
    --background: #ffffff;
    --background-light: #f7f7f7;
    --on-background: #161616;
    --on-background-light: #161616;
    --disabled: #9e9e9e;
    --tabs-bottom: #ebebeb;
    --tabs-bottom-hover: #3d3d3d;
    --tabs-focus: #567856;
}

// Dark mode theme colors
@mixin dark-mode {
    --primary: #c37f97;
    --secondary: #b76680;
    --tertiary: #b05070;
    --link-primary: #c37f97;
    --link-secondary: #b76680;
    --on-primary: #161616;
    --on-secondary: #161616;
    --on-tertiary: #161616;
    --background: #161616;
    --background-light: #3d3d3d;
    --on-background: #ffffff;
    --on-background-light: #ffffff;
    --disabled: #9e9e9e;
    --tabs-bottom: #3d3d3d;
    --tabs-bottom-hover: #ebebeb;
    --tabs-focus: #146feb;
}

body {
    @include light-mode;
    @media (prefers-color-scheme: dark) {
        @include dark-mode;
    }
    &.light-mode {
        @include light-mode;
    }
    &.dark-mode {
        @include dark-mode;
    }
}
