// -----------------------------------------------------------------------------
// Scaled values to use for margin, padding, and other spacing.
// -----------------------------------------------------------------------------

@use "sass:math";

// We use a harmonic scale here, as with the typography, to produce various
// spacing values used across the project. See:
// https://every-layout.dev/rudiments/modular-scale/

$base: 1rem;
$ratio: 1.5;

$spacing-md: $base;

$spacing-sm: $base / $ratio;
$spacing-xs: $spacing-sm / $ratio;
$spacing-2xs: $spacing-xs / $ratio;
$spacing-3xs: $spacing-2xs / $ratio;
$spacing-4xs: $spacing-3xs / $ratio;

$spacing-lg: $base * $ratio;
$spacing-xl: $spacing-lg * $ratio;
$spacing-2xl: $spacing-xl * $ratio;
$spacing-3xl: $spacing-2xl * $ratio;
$spacing-4xl: $spacing-3xl * $ratio;
