// -----------------------------------------------------------------------------
// Typographic styles (size, weight, etc.) used across the project.
// -----------------------------------------------------------------------------

@use "breakpoints";
@use "colors";
@use "fonts";
@use "spacing";

// Type sizes, scaled relative to 1rem (by default 16px)
$text-size-xs: 0.75rem; //   = 12px
$text-size-sm: 0.875rem; //  = 14px
$text-size-md: 1rem; //      = 16px
$text-size-lg: 1.125rem; //  = 18px
$text-size-xl: 1.25rem; //   = 20px
$text-size-2xl: 1.375rem; // = 22px
$text-size-3xl: 1.5rem; //   = 24px
$text-size-4xl: 1.75rem; //  = 28px
$text-size-5xl: 1.875rem; // = 30px
$text-size-6xl: 2rem; //     = 32px
$text-size-7xl: 2.25rem; //  = 36px

// Mixins to apply typographic styles to text elements.

// H1 — page titles
@mixin headline-1 {
    font-family: fonts.$primary-bold;
    font-weight: bold;
    font-size: $text-size-2xl;
    line-height: 1.5;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-3xl;
        line-height: calc(40 / 28);
    }
}
// H1 — page titles (Hebrew variant)
@mixin headline-1-he {
    line-height: calc(34 / 24);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(40 / 28);
    }
}
// H1 — page titles (Arabic variant)
@mixin headline-1-ar {
    line-height: calc(42 / 24);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(46 / 28);
    }
}

// H2 — section and search result titles
@mixin headline-2 {
    font-family: fonts.$primary-bold;
    font-weight: bold;
    font-size: $text-size-xl;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-3xl;
    }
    line-height: 1.5;
}
// H2 — section and search result titles (Hebrew variant)
@mixin headline-2-he {
    line-height: calc(27 / 20);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(34 / 24);
    }
}
// H2 — section and search result titles (Arabic variant)
@mixin headline-2-ar {
    line-height: calc(36 / 20);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(40 / 24);
    }
}

// H3 — sub-sections only on generic content pages
@mixin headline-3 {
    font-family: fonts.$primary-bold;
    font-weight: bold;
    font-size: $text-size-md;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-xl;
    }
    line-height: 1.5;
}
// H3 — sub-sections only on generic content pages (Hebrew variant)
@mixin headline-3-he {
    line-height: calc(22 / 16);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(27 / 20);
    }
}
// H3 — sub-sections only on generic content pages (Arabic variant)
@mixin headline-3-ar {
    line-height: calc(30 / 16);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(36 / 20);
    }
}

// H1 - error pages
@mixin headline-error {
    font-family: fonts.$primary-bold;
    font-weight: bold;
    font-size: $text-size-lg;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-xl;
    }
    line-height: 1.5;
}
// H1 - error pages (Hebrew variant)
@mixin headline-error-he {
    line-height: calc(25 / 18);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(27 / 20);
    }
}
// H1 - error pages (Arabic variant)
@mixin headline-error-ar {
    line-height: calc(27 / 18);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(28 / 20);
    }
}

// body text — descriptions on search + doc detail,
// citation on scholarship records, all body content
// on generic content pages
@mixin body {
    font-family: fonts.$primary;
    font-size: $text-size-md;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-lg;
    }
    line-height: 1.5;
}
// body text (Hebrew variant)
@mixin body-he {
    line-height: calc(25 / 18);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(27 / 20);
    }
}
// body text (Arabic variant)
@mixin body-ar {
    line-height: calc(32 / 18);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(30 / 20);
    }
}
@mixin body-bold {
    @include body;
    font-family: fonts.$primary-bold;
    font-weight: bold;
}
@mixin body-italic {
    @include body;
    font-family: fonts.$primary-italic;
    font-style: italic;
}

// blockquote
@mixin quote {
    font-family: fonts.$primary;
    padding-left: spacing.$spacing-md;
    border-left: 0.125rem solid var(--link-primary);
    margin: 3rem 0;
    &::before,
    &::after {
        content: "";
        width: 30px;
        height: 24px;
        position: absolute;
        background-color: var(--link-primary);
    }
    &::before {
        margin-top: -#{spacing.$spacing-xl};
        mask-image: url("/static/img/ui/mobile/all/left-double-quote.svg");
    }
    &::after {
        display: block;
        margin-top: #{spacing.$spacing-sm};
        mask-image: url("/static/img/ui/mobile/all/right-double-quote.svg");
    }
    & + blockquote {
        margin-top: 6rem;
    }
    @include breakpoints.for-tablet-landscape-up {
        margin: 4rem 0;
        &::before,
        &::after {
            width: 40px;
            height: 32px;
        }
        &::before {
            margin-top: -3rem;
            mask-image: url("/static/img/ui/desktop/all/left-double-quote.svg");
        }
        &::after {
            margin-top: #{spacing.$spacing-md};
            mask-image: url("/static/img/ui/desktop/all/right-double-quote.svg");
        }
        & + blockquote {
            margin-top: 8rem;
        }
    }
}

// metadata in search result items + doc detail
@mixin meta {
    font-family: fonts.$primary;
    font-size: $text-size-md;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-lg;
    }
    line-height: 1.5;
}
// metadata (Hebrew variant)
@mixin meta-he {
    line-height: calc(22 / 16);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(25 / 18);
    }
}
// metadata (Arabic variant)
@mixin meta-ar {
    line-height: calc(30 / 16);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(30 / 18);
    }
}
@mixin meta-bold {
    @include meta;
    font-family: fonts.$primary-bold;
    font-weight: bold;
}
@mixin meta-header {
    font-family: fonts.$primary-bold;
    font-weight: bold;
    font-size: $text-size-md;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-xl;
    }
}

// related documents and entities tables typography
@mixin related-table {
    font-size: $text-size-sm;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-md;
    }
}

// caption - "includes" on scholarship records, image
// captions on generic content pages, number of results on
// search
@mixin caption {
    font-family: fonts.$primary-italic;
    font-style: italic;
    font-weight: normal;
    font-size: $text-size-md;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-lg;
    }
    line-height: 1.5;
}

// label for metadata in search results
@mixin meta-label {
    @include caption;
    font-size: $text-size-sm;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-md;
    }
}

// small body text, e.g. for descriptions in search results
@mixin body-sm {
    font-family: fonts.$primary;
    font-size: $text-size-sm;
    line-height: 17 / 14;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-lg;
        line-height: 25 / 18;
    }
}

// label for unpublished records in scholarship records view
@mixin unpublished {
    @include caption;
    font-style: normal;
    font-family: fonts.$primary;
}

// links
@mixin link {
    font-family: fonts.$primary;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.1875rem;
    text-underline-offset: 0.375rem;
    text-decoration-color: var(--link-primary);
    text-decoration-skip-ink: none;
    &:hover,
    &:active {
        text-decoration-color: var(--link-secondary);
    }
}

// "shelfmark" part of document titles
@mixin shelfmark {
    font-family: fonts.$primary;
    font-weight: normal;
}

// "type" part of document titles
@mixin doctype {
    &::after {
        font-weight: normal;
        content: ": ";
    }
}

// hebrew, arabic transcriptions on search results +
// doc detail
@mixin transcription {
    font-family: fonts.$transcription;
    font-size: $text-size-xl;
    line-height: calc(27 / 20);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(32 / 22);
        font-size: $text-size-2xl;
    }
}
@mixin arabic-transcription {
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(34 / 22);
    }
}
@mixin transcription-search {
    font-family: fonts.$transcription;
    line-height: calc(22.4 / 16);
    font-size: $text-size-md;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-xl;
        line-height: calc(27 / 20);
    }
}
@mixin arabic-transcription-search {
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(34 / 22);
    }
}
@mixin transcription-numerals {
    font-family: fonts.$primary-semibold;
}

// most form elements
@mixin form-option {
    @include body; // same font+sizes as body
    line-height: 1.2;
}
@mixin form-option-bold {
    @include body-bold; // same font+sizes as body-bold
    line-height: 1.2;
}

@mixin form-option-sm {
    @include meta; // same font+sizes as meta-bold
    line-height: 1.2;
}

@mixin form-option-sm-bold {
    @include meta-bold; // same font+sizes as meta-bold
    line-height: 1.2;
}

@mixin form-option-xs {
    font-family: fonts.$primary;
    font-size: $text-size-md;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-md;
    }
    line-height: 1.5;
}

// counts next to the filter options
@mixin filter-count {
    @include meta; // same font+sizes as meta
    line-height: 1.2;
}
@mixin filter-count-bold {
    @include meta-bold; // same font+sizes as meta-bold
    line-height: 1.2;
}

// links in the navbar
@mixin nav-link {
    @include meta; // same font+sizes as meta
    line-height: 1.4;
}
@mixin nav-bold {
    @include meta-bold; // same font+sizes as meta-bold
    line-height: 1.4;
}

// Mobile nav menu uses big type
@mixin mobile-menu {
    font-size: $text-size-2xl;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-lg;
    }
}
// Mobile nav menu (Hebrew variant)
@mixin mobile-menu-he {
    font-size: $text-size-3xl;
    line-height: calc(32 / 24);
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-lg;
        line-height: calc(27 / 20);
    }
}
// Mobile nav menu (Arabic variant)
@mixin mobile-menu-ar {
    line-height: calc(36 / 22);
    @include breakpoints.for-tablet-landscape-up {
        line-height: calc(30 / 18);
    }
}

// Icon buttons
@mixin icon-button {
    font-family: "Phosphor" !important;
    &:focus {
        outline: 0.125rem solid var(--focus);
    }
}
@mixin icon-button-sm {
    @include icon-button;
    font-size: $text-size-lg;
}
@mixin icon-button-md {
    @include icon-button;
    font-size: $text-size-3xl;
}
@mixin icon-button-lg {
    @include icon-button;
    font-size: 2.5rem;
}
@mixin icon-button-xl {
    @include icon-button;
    font-size: 3.5rem;
}

// image permissions statement
@mixin permissions-statement {
    font-family: fonts.$primary;
    font-weight: normal;
    font-size: $text-size-md;
    line-height: 1.5;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-lg;
        line-height: calc(25 / 18);
    }
}
@mixin permissions-statement-bold {
    @include permissions-statement;
    font-family: fonts.$primary-bold;
    font-weight: bold;
}

// Language switcher
@mixin language-switch-en {
    font-family: fonts.$primary-semibold;
    font-weight: 600;
    font-size: $text-size-lg;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-xl;
    }
}
@mixin language-switch-he {
    font-family: fonts.$transcription;
    font-size: $text-size-xl;
    @include breakpoints.for-tablet-landscape-up {
        font-size: calc(26rem / 16);
    }
}
@mixin language-switch-ar {
    font-family: fonts.$primary-bold;
    font-weight: bold;
    font-size: 0.8rem;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-md;
    }
}
