// -----------------------------------------------------------------------------
// Typographic styles (size, weight, etc.) used across the project.
// -----------------------------------------------------------------------------

@use "breakpoints";
@use "colors";
@use "fonts";
@use "spacing";

// Type scale: generate sizes according to harmonic ratio. This scale is based
// on the "Major Third" scale, with a scale factor of 1.25. See:
// https://baseline.is/tools/type-scale-generator/
$text-size-xs: 0.64rem;
$text-size-sm: 0.8rem;
$text-size-md: 1rem;
$text-size-2md: 1.15rem;
$text-size-lg: 1.25rem;
$text-size-xl: 1.56rem;
$text-size-2xl: 1.95rem;
$text-size-3xl: 2.44rem;
$text-size-4xl: 3.05rem;
$text-size-5xl: 3.81rem;

// Mixins to apply typographic styles to text elements.
@mixin headline-1 {
    font-family: fonts.$primary;
    font-size: $text-size-lg;
    font-weight: lighter;
    line-height: 1.3;
    margin: spacing.$spacing-md;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-xl;
        margin: spacing.$spacing-3xl spacing.$spacing-md spacing.$spacing-md;
    }
}

@mixin headline-2 {
    font-family: fonts.$primary;
    font-size: $text-size-2md;
    font-weight: lighter;
    line-height: 1.3;
    margin-bottom: spacing.$spacing-md;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-lg;
        margin-bottom: spacing.$spacing-lg;
    }
}

@mixin headline-3 {
    font-family: fonts.$primary;
    font-size: $text-size-md;
    line-height: 1.3;
    margin: spacing.$spacing-xl 0 spacing.$spacing-md;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-2md;
        margin-bottom: spacing.$spacing-lg;
    }
}

@mixin headline-4 {
    font-family: fonts.$primary;
    font-size: $text-size-2xl;
    line-height: 1.3;
}

@mixin headline-5 {
    font-family: fonts.$primary;
    font-size: $text-size-xl;
    line-height: 1.3;
}

@mixin headline-6 {
    font-family: fonts.$primary;
    font-size: $text-size-lg;
    line-height: 1.3;
}

@mixin subtitle {
    font-family: fonts.$secondary;
    font-size: $text-size-2md;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-lg;
    }
    line-height: 1.3;
}

@mixin body {
    font-family: fonts.$secondary;
    font-size: $text-size-md;
    line-height: 1.5;
}

@mixin paragraph {
    margin-bottom: spacing.$spacing-md;
}

@mixin quote {
    padding-left: spacing.$spacing-lg;
    border-left: 2px solid;
    margin: spacing.$spacing-2xl 0;
    @include colors.apply-theme(
        "on-background",
        $property: "border-left-color"
    );
    &::before {
        content: "\201C";
        font-size: $text-size-4xl;
        position: absolute;
        margin-top: -#{spacing.$spacing-2xl};
    }
    &::after {
        content: "\201D";
        font-size: $text-size-4xl;
        position: absolute;
        display: block;
    }
}

@mixin meta {
    font-family: fonts.$secondary;
    font-size: $text-size-md;
    @include breakpoints.for-tablet-landscape-up {
        font-size: $text-size-2md;
    }
    line-height: 1.3;
}

@mixin button {
    font-family: fonts.$secondary;
    font-size: $text-size-sm;
    text-transform: uppercase;
}

@mixin caption {
    font-family: fonts.$secondary;
    font-size: $text-size-md;
    font-style: italic;
    margin-top: spacing.$spacing-sm;
    @include colors.apply-theme("on-background-light");
}

@mixin link {
    @include colors.apply-theme(
        "secondary",
        $property: "text-decoration-color"
    );

    font-family: fonts.$secondary;
    font-size: 1rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.1rem;
}

@mixin doctype {
    font-weight: bold;
    &::after {
        font-weight: normal;
        content: ": ";
    }
}
