{% extends "base.html" %}

{% block title %}Geniza Prototype | New Search {% endblock %}

{% block head %}
 {{ super() }}
    <style>
        /*input[type=text] {font-size: 16pt; width: 90%;}*/
        /* style highlights tagged by Solr */
        em {background-color: #3DFF6A; font-weight: bold; font-style: normal; }

        .transcription {
            direction: rtl;  /* assuming all for now */
            text-align: right;
            white-space: pre;
        }

        ol ::marker {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}
{# two columns #}
<div class="mw9 center ph3-ns">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-40-ns pa2">

    <h2>Clusters</h2>
    <p>Sorted by size</p>

    <ol>
        {% for cluster in clusters %}
        <li class="pl1 pb2"><a class="dib no-underline dim black v-mid" href="?cluster={{ cluster.value }}">
            <div class="f3 lh-copy {% if cluster.selected %}blue{% endif %}">{{ cluster.label }}</div>
            {{ cluster.count }} Documents
            </a>
        </li>
        {% endfor %}
    </ol>
    </div> {# end first column #}

    {# second column, when there are documents #}
    {% if documents %}
    <div class="fl w-100 w-60-ns pa2">
      <div class="bl-ns bt bt-0-ns pv4">
        <div class="pl3">
            <div class="f2 lh-copy blue">{{ current_cluster }}</div>
            <div>{{ current_cluster_count }} Documents</div>
        </div>

          {# todo: group by distinct sets of tags #}
          <ol>
          {% for doc in documents %}
              <li class="pb3">
                {% set show_tags = true %}
                {% include "cluster_result.html" %}
                {% if doc.tagset_s in groups %}
                {% for group_doc in groups[doc.tagset_s]['docs'] %}
                    {# don't repeat tags, since they are the same for theg roup #}
                    {% set show_tags = false %}
                     {% include "cluster_result.html" %}
                {% endfor %}
                {% endif %}

              </li>
          {% endfor %}
          </ol>
      </div>

    </div>
  {% endif %}
  </div>

</div>

{% endblock %}
