{% extends "base.html" %}

{% block title %}Geniza Prototype | IIIF Transcription test{% endblock %}

{% block head %}
 {{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script type='text/javascript' src='https://unpkg.com/mirador@latest/dist/mirador.min.js'></script>
{% endblock %}

{% block content %}
    <div id="mirador" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>

    <script type="text/javascript">
    var miradorInstance = Mirador.viewer({
       id: 'mirador',
       theme: {
         transitions: window.location.port === '4488' ?  { create: () => 'none' } : {},
       },
       windows: [
       { manifestId: '/data/3951_manifest.json'}
       ],
       catalog: [
         { manifestId: '/data/3951_manifest.json' },
         { manifestId: '/data/3952_manifest.json' },
         { manifestId: '/data/3953_manifest.json' },
       ]
     });
    </script>

{% endblock %}