{% extends "base.html" %}

{% block title %}Geniza Search | {% endblock %}

{% block content %}

    {% include 'search_form.html' %}

<div class="measure f5 pa3 pt3 dark-gray avenir lh-copy">

    <p>The <a href="https://cdh.princeton.edu/projects/ethiopian-miracles-mary-project/">Princeton Geniza Project</a> digital humanities project (PGP) analyzes Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Voluptas culpa, deleniti rem animi quisquam perspiciatis aliquid quas labore necessitatibus obcaecati incidunt dolorem voluptatibus exercitationem natus veritatis maiores optio sunt nihil!</p>

</div>

{% endblock %}
