<form action="/" method="get" class="pa3 black-80">
    <label for="keywords" class="f4 b db mb2">Search by keyword or phrase</label>
    <input type="text" name="keywords" size="200"
    placeholder="search across metadata fields"
    value="{{ search_term }}"
    class="input-reset ba br3 ba b--black-20 pa2 mb2 db w-100 f5" type="text"/>

    <fieldset>
        {% for tag, count in facets.facet_fields.tags_ss.items() %}
        <label class="pr2">

            <input name="tag" value="{{ tag }}" type="checkbox" {% if tag in selected_tags %} checked {% endif %}>
            {{ tag }} <span class="gray f7">({{ count }})</span>
        </label>
        {% endfor %}
    </fieldset>

    <div class="ma2">
        <label for="logical_or">
            <input type="radio" id="logical_or" name="tag_logic" value="logical_or" 
                {% if selected_tag_logic == "logical_or" %} checked {% endif %}>
                Show records that contain ANY of these tags
        </label>
        <br>
        <label for="logical_and">
            <input type="radio" id="logical_and" name="tag_logic" value="logical_and"
                {% if selected_tag_logic == "logical_and" %} checked {% endif %}>
                Show records that contain ALL of these tags
        </label>
    </div>

    <input class="br3 ba pv1 ph3" type="submit" value="Search"/>
</form>