// -----------------------------------------------------------------------------
// Content page styles
// -----------------------------------------------------------------------------

@use "../base/breakpoints";
@use "../base/spacing";
@use "../base/typography";

#content-page {
    .container {
        padding: spacing.$spacing-md spacing.$spacing-sm;
        @include breakpoints.for-tablet-landscape-up {
            padding: spacing.$spacing-lg 0;
        }
        ul,
        ol {
            margin: spacing.$spacing-md 0 spacing.$spacing-md
                spacing.$spacing-lg;
            li + li {
                margin-top: spacing.$spacing-md;
            }
        }
        ul {
            list-style: disc outside;
        }
        ol {
            counter-reset: listitem;
            li::before {
                content: counter(listitem);
                counter-increment: listitem;
                float: left;
                padding-left: spacing.$spacing-2xs;
                margin-left: -#{spacing.$spacing-lg};
            }
        }
    }

    figure {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: spacing.$spacing-md 0;
        figcaption {
            align-self: flex-start;
        }
        img {
            max-width: 100%;
            align-self: center;
            height: auto;
        }
    }

    // Credits page
    dd {
        margin-top: spacing.$spacing-xs;
        text-decoration: underline;
        & + dt {
            margin-top: spacing.$spacing-lg;
        }
    }
}
