// -----------------------------------------------------------------------------
// Document detail page.
// -----------------------------------------------------------------------------

@use "../base/breakpoints";
@use "../base/colors";
@use "../base/container";
@use "../base/spacing";
@use "../base/typography";

main.document {
    // Primary container
    .container {
        display: flex;
        flex-direction: column;
        padding: 0 spacing.$spacing-md spacing.$spacing-md;
        margin-bottom: spacing.$spacing-md;
        @include breakpoints.for-tablet-landscape-up {
            margin-bottom: spacing.$spacing-xl;
        }
        section.metadata {
            display: flex;
            flex-direction: column;
            @include breakpoints.for-tablet-landscape-up {
                margin-top: spacing.$spacing-3xl;
                flex-direction: row;
                justify-content: flex-start;
            }
        }
        // Document metadata
        dl.metadata-list {
            display: flex;
            flex-direction: column;
            margin: spacing.$spacing-2xl spacing.$spacing-md 0;
            @include typography.meta;
            @include breakpoints.for-tablet-landscape-up {
                flex: 1 1 50%;
                padding-right: 0;
                margin: 0 0 0;
            }
            // Lighter color metadata; secondary class on dl or dd/dt
            .tertiary,
            &.tertiary dd,
            &.tertiary dt {
                color: var(--on-background-alt);
            }
            dt {
                margin-bottom: spacing.$spacing-3xs;
                @include typography.meta-bold;
                display: flex;
                align-items: center;
                &::before {
                    content: " ";
                    display: inline-block;
                    width: 8px;
                    height: 18px;
                    background-color: var(--filter-active);
                    margin-right: 12px;
                }
            }
            dd {
                margin-left: 20px;
            }
            dd + dt {
                margin-top: spacing.$spacing-sm;
                @include breakpoints.for-tablet-landscape-up {
                    margin-top: spacing.$spacing-md;
                }
            }
            dd + dd {
                margin-top: spacing.$spacing-xs;
            }
        }
        dl.metadata-list.primary + dl.metadata-list.secondary {
            margin-top: 0;
            @include breakpoints.for-tablet-landscape-up {
                margin-left: 35px;
            }
            :first-child {
                margin-top: spacing.$spacing-sm;
                @include breakpoints.for-tablet-landscape-up {
                    margin-top: 0px;
                }
            }
        }
        // Document tags
        ul.tags {
            margin: 45px spacing.$spacing-md 0;
            align-self: flex-start;
            text-align: left;
            @include breakpoints.for-tablet-landscape-up {
                flex: 1 0 100%;
                padding-left: 0;
                margin: spacing.$spacing-3xl 0 0;
                align-self: flex-start;
                margin-left: 0;
            }
        }
        // Additional metadata section, like input date ("In PGP since") and historical shelfmark
        section.extra-metadata {
            margin: 12px spacing.$spacing-md 0;
            @include breakpoints.for-tablet-landscape-up {
                margin: 12px 0 0;
            }
            @include typography.meta;
            color: var(--extra-metadata-text);
            dl {
                display: grid;
                grid-template-columns: 3fr 7fr;
                dt {
                    font-weight: bold;
                }
            }
        }
        // "Description" header and content
        section.description {
            margin: 64px 0 spacing.$spacing-md;
            h2 {
                @include typography.body-bold;
            }

            p {
                white-space: pre-line;
            }
        }
        // link to download transcription
        section.transcription-link {
            margin-top: spacing.$spacing-md;
            @include breakpoints.for-tablet-landscape-up {
                margin-top: spacing.$spacing-xl;
            }
        }
    }
    dl.metadata-list.tertiary {
        margin-top: 51px;
        padding: 0 20px;
        width: 100%;
        @include breakpoints.for-tablet-landscape-up {
            margin-top: 53px;
            max-width: none;
            padding: 0 10rem;
        }
        // extra style for hiding the theme toggle on desktop only
        @include breakpoints.for-desktop-up {
            z-index: 3;
            background-color: var(--background);
            margin-top: 0;
            margin-bottom: -120px;
            padding: 53px 10rem 120px;
        }
        // hanging "link" phosphor icon before permalink label
        dt#permalink {
            display: flex;
            align-items: center;
            @include typography.meta-bold;
            svg {
                color: var(--permalink-icon);
                fill: var(--permalink-icon-bg);
                width: 22px;
                height: 22px;
                margin-right: 12px;
            }
            & + dd {
                margin-left: 34px;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

section#document-list,
main.document {
    // description content
    .description {
        p {
            white-space: pre-line;
        }
    }
}

// RTL variant
html[dir="rtl"] main.document {
    .container dl.metadata-list dt::before {
        margin-right: 0;
        margin-left: 12px;
    }
    dl.metadata-list.tertiary dt#permalink {
        svg {
            margin-right: 0;
            margin-left: 12px;
        }
        & + dd {
            margin-left: 0;
            margin-right: 34px;
        }
    }
}

// Hebrew variant
html[lang="he"] main.document {
    .container section.description h3 {
        // "Description" label is always translated
        @include typography.body-he;
    }
    .container dl.metadata-list,
    .container section.extra-metadata,
    .container dl.metadata-list dt,
    .container dl.metadata-list dd,
    dl.metadata-list.tertiary dt#permalink {
        @include typography.meta-he;
    }
    dl *[lang="en"] {
        // handle any dt/dd in English
        @include typography.meta;
    }
}

// Arabic variant
html[lang="ar"] main.document {
    .container section.description h3 {
        // "Description" label is always translated
        @include typography.body-ar;
    }
    .container dl.metadata-list,
    .container dl.metadata-list dt,
    .container dl.metadata-list dd,
    .container section.extra-metadata,
    dl.metadata-list.tertiary dt#permalink {
        @include typography.meta-ar;
    }
    dl *[lang="en"] {
        // handle any dt/dd in English
        @include typography.meta;
    }
}
