// -----------------------------------------------------------------------------
// Person detail page.
// -----------------------------------------------------------------------------

@use "../base/breakpoints";
@use "../base/colors";
@use "../base/container";
@use "../base/fonts";
@use "../base/spacing";
@use "../base/typography";

// TODO: standardize typography here once all redesigns are implemented

main.person * {
    max-width: none;
    @include breakpoints.for-tablet-landscape-up {
        max-width: 56rem; // = 896px
    }
}

main.person,
main.place {
    // Header
    h1 {
        width: 100%;
        z-index: 2;
        font-size: typography.$text-size-3xl;
        margin: spacing.$spacing-lg 0 spacing.$spacing-md;
        padding-left: spacing.$spacing-md;
        @include breakpoints.for-tablet-landscape-up {
            width: auto;
            margin: spacing.$spacing-lg spacing.$spacing-md spacing.$spacing-lg;
            font-size: typography.$text-size-3xl;
            padding: 0;
        }
    }
    // back to browse link
    div.breadcrumbs-link-container {
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: typography.$text-size-lg;
        a {
            margin-left: spacing.$spacing-md;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            text-decoration: none;
            color: var(--link-primary);
            &::before {
                font-family: "Phosphor" !important;
                content: "\f03b"; // phosphor arrow-left icon
                font-size: typography.$text-size-2xl;
            }
            &:hover {
                color: var(--link-secondary);
            }
        }
    }
    // Primary container
    .container {
        max-width: 100vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 spacing.$spacing-md spacing.$spacing-md;
        margin-bottom: spacing.$spacing-md;
        @include breakpoints.for-tablet-landscape-up {
            max-width: 56rem;
            box-sizing: content-box;
            margin-bottom: 0;
        }
        section.metadata {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            @include breakpoints.for-tablet-landscape-up {
                margin-top: spacing.$spacing-xl;
                flex-direction: row;
                justify-content: flex-start;
            }
        }
        // Person metadata
        dl.metadata-list {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            margin: spacing.$spacing-lg 0 0;
            font-size: typography.$text-size-md;
            @include breakpoints.for-tablet-landscape-up {
                margin: spacing.$spacing-2xl spacing.$spacing-md 0;
                font-size: typography.$text-size-xl;
                flex: 1 1 50%;
                padding-right: 0;
                margin: 0 0 0;
            }
            // Lighter color metadata; secondary class on dl or dd/dt
            .tertiary,
            &.tertiary dd,
            &.tertiary dt {
                color: var(--on-background-alt);
            }
            dd {
                margin-left: 20px;
            }
            dd + dt {
                margin-top: spacing.$spacing-md;
                @include breakpoints.for-tablet-landscape-up {
                    margin-top: spacing.$spacing-lg;
                }
            }
            dd + dd {
                margin-top: spacing.$spacing-xs;
            }
        }
        dl.metadata-list.primary + dl.metadata-list.secondary {
            margin-top: 0;
            @include breakpoints.for-tablet-landscape-up {
                margin-left: 1rem;
            }
            :first-child {
                margin-top: spacing.$spacing-md;
                @include breakpoints.for-tablet-landscape-up {
                    margin-top: 0px;
                }
            }
        }
        // "Description" header and content
        section.description,
        section.notes {
            max-width: 100%;
            margin: spacing.$spacing-md 0 spacing.$spacing-md;
            font-size: typography.$text-size-md;
            @include breakpoints.for-tablet-landscape-up {
                margin-top: spacing.$spacing-lg;
                font-size: typography.$text-size-xl;
            }
            p {
                max-width: 100%;
                white-space: pre-line;
                padding-left: 20px;
            }
        }

        section.metadata dt,
        section.description h2,
        section.notes h2 {
            margin-bottom: spacing.$spacing-xs;
            @include typography.meta-bold;
            font-size: typography.$text-size-lg;
            @include breakpoints.for-tablet-landscape-up {
                font-size: typography.$text-size-xl;
            }
            display: flex;
            align-items: center;
            &::before {
                content: " ";
                display: inline-block;
                width: 8px;
                height: 18px;
                background-color: var(--secondary);
                margin-right: 12px;
            }
        }
    }
    nav#tabs {
        max-width: none;
        width: 100%;
        padding: 0 1rem 0;
        // hide tabs on mobile
        .tabs {
            display: none;
        }
        // show <select> on mobile instead
        .mobile-select {
            max-width: none;
            display: block;
            width: 100%;
            height: 2.5rem;
            @include typography.meta;
            background-color: var(--background-light);
            color: var(--on-background);
            border-radius: 5px;
            border: 1px solid var(--background-gray);
            padding: 0 1rem;
        }
        @include breakpoints.for-tablet-landscape-up {
            box-sizing: content-box;
            max-width: 896px;
            padding: 1rem 1rem 0;
            .tabs {
                display: grid;
            }
            .mobile-select {
                display: none;
            }
        }
    }
    dl.metadata-list.tertiary {
        margin-top: 2rem;
        width: 100%;
        @include breakpoints.for-tablet-landscape-up {
            margin-top: 3rem;
        }
        // hanging phosphor icons before citation and permalink
        dt#citation,
        dt#permalink {
            display: flex;
            align-items: flex-start;
            @include typography.meta-bold;
            line-height: 1;
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--on-secondary);
                background-color: var(--secondary);
                border-radius: 50%;
                width: 2.25rem;
                height: 2.25rem;
                margin-right: 0.75rem;
            }
            & + dd {
                @include typography.meta;
                margin-left: 3rem;
                margin-top: -1rem;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
main.person {
    // person tabs styling: 4 tabs!
    .tabs {
        @include breakpoints.for-tablet-landscape-up {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            a,
            span {
                padding-left: spacing.$spacing-2xl;
                padding-right: spacing.$spacing-2xl;
            }
            a[aria-current="page"] {
                padding-left: spacing.$spacing-3xl;
                padding-right: spacing.$spacing-3xl;
            }
            // special styling for tabs to match typography designs
            li:first-child a:not([aria-current="page"]) {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            li:nth-child(2) a,
            span:nth-child(2) {
                padding-left: 3rem;
                padding-right: 3rem;
            }
            li:nth-child(3) a,
            span:nth-child(3),
            li:nth-child(4) a,
            span:nth-child(4) {
                padding-left: 4rem;
                padding-right: 4rem;
            }
        }
    }
    // person related places
    section.map {
        width: 100%;
        @include breakpoints.for-tablet-landscape-up {
            margin-top: (2rem + spacing.$spacing-xs);
        }
        #map {
            width: 100%;
            @include breakpoints.for-tablet-landscape-up {
                height: 24.125rem;
            }
        }
        svg#marker {
            color: var(--primary);
            fill: var(--tertiary);
            width: 33px;
            height: 42px;
            @include breakpoints.for-tablet-landscape-up {
                width: 42px;
                height: 48px;
            }
        }
    }
    section.relations {
        width: 100%;
        table.places {
            width: 100%;
            thead tr {
                @include typography.related-table;
                text-align: left;
                border-bottom: 1px solid var(--related-header-underline);
                th {
                    padding: 0 0 0.5rem;
                    a {
                        display: flex;
                        align-items: center;
                        gap: 0.25rem;
                        text-decoration: none;
                        svg {
                            width: 16px;
                            height: 16px;
                            display: block;
                            color: var(--disabled-on-background-light);
                            fill: var(--disabled-on-background-light);
                        }
                        &[class*="asc"] svg {
                            color: var(--on-background);
                        }
                        &[class*="desc"] svg {
                            fill: var(--on-background);
                        }
                    }
                    &.sorted {
                        font-family: fonts.$primary-bold;
                        font-weight: 700;
                    }
                }
            }
            tbody tr {
                @include typography.meta;
                border-bottom: 1px solid var(--tabs-bottom);
                td {
                    padding: 0.75rem 0;
                }
            }
        }
        @include breakpoints.for-tablet-landscape-up {
            margin-top: 2rem;
        }
    }
}

// RTL overrides
html[dir="rtl"] main.person,
html[dir="rtl"] main.place {
    .container dl.metadata-list dt::before {
        margin-right: 0;
        margin-left: 12px;
    }
    .container .description h2::before {
        margin-right: 0;
        margin-left: 12px;
    }
    .container dl.metadata-list.tertiary dt#citation,
    .container dl.metadata-list.tertiary dt#permalink {
        i {
            margin-right: 0;
            margin-left: 0.75rem;
        }
        & + dd {
            margin-left: 0;
            margin-right: 3rem;
        }
    }
}
