// -----------------------------------------------------------------------------
// Document search page.
// -----------------------------------------------------------------------------

@use "../base/breakpoints";
@use "../base/container";
@use "../base/spacing";

main.search {
    // Overall page layout
    form {
        @include container.two-column;
        display: flex;
        flex-direction: column;
        padding: spacing.$spacing-md;
        margin-top: spacing.$spacing-lg;
        width: 100%;
        @include breakpoints.for-tablet-landscape-up {
            margin-top: spacing.$spacing-2xl;
        }
    }
    section#document-list {
        width: 100%;
        @include container.two-column;
        display: flex;
        flex-direction: column;
        padding: 0 spacing.$spacing-md spacing.$spacing-md;
    }
}

// Applying color per system theme
.turbo-progress-bar {
    height: 5px;
    background-color: #436043;
    @media (prefers-color-scheme: dark) {
        background-color: #c37f97;
    }
}
