{% extends "base.html" %}
{% load i18n static %}

{# Translators: title for Internal Server Error (500) error page #}
{% block meta_title %}{% translate "Server Error" %}{% endblock meta_title %}
{# Translators: description for Internal Server Error (500) error page #}
{% block meta_description %}{% translate "Something went wrong putting this page together." %}{% endblock meta_description %}

{% block page_type %}error{% endblock %}

{% block body %}
    {% with skip_nav=1 %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{# "translate" tags need to be duplicated since these are in separate blocks #}
{% block main %}
    <h1 class="e500">{% translate "Server Error" %}</h1>
    <p>{% translate "Something went wrong putting this page together." %}</p>
{% endblock %}
