{% load static webpack_loader %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <!-- metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block meta_title %}{% endblock meta_title %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#6b59c1">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#6b59c1">
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <!-- styles -->
    {% if SHOW_TEST_WARNING %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/test-banner.css' %}">
    {% endif %}
    {% render_bundle "main" "css" %}
    {% block extrastyle %}{% endblock extrastyle %}
    <!-- scripts -->
    {% get_files "main" "js" as main_js %}
    <script src="{{ main_js.0.url }}" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="https://unpkg.com/phosphor-icons" nonce="{{ request.csp_nonce }}"></script>
    {% block extrahead %}{% endblock extrahead %}
</head>
<body>
    {% if SHOW_TEST_WARNING %}
    {% include 'snippets/test_banner.html' %}
    {% endif %}
    {% block body %}
    <header>{% include "nav.html" %}</header>
    <main>{% block main %}{% endblock main %}</main>
    <footer></footer>
    {% endblock body %}
</body>
</html>