{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/concrete.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Geniza i18n</title>
</head>
<body>
    <header>
        <nav aria-label="header">
            <a href="{% url 'home' %}">{% translate "home" context "homepage" %}</a>
            <a href="{% url 'people:list' %}">{% translate "people" %}</a>
            <a href="{% url 'people:profession-list' %}">{% translate "professions" %}</a>
        </nav>
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <fieldset>
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            {# Translators: button on language chooser in navigation #}
            <input type="submit" value="{% translate 'go' context 'choose this option' %}">
            </fieldset>
        </form>
    </header>
    <main>
    {% block content %}
    {% endblock content %}
    </main>
    <footer>
    <span>{% translate "©2020 Trustees of Princeton University" %}</span>
    </footer>
</body>
</html>