{% load static %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <!-- metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#6b59c1">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#6b59c1">
    <!-- styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% if SHOW_TEST_WARNING %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/test-banner.css' %}">
    {% endif %}
    {% block extrastyle %}{% endblock extrastyle %}
    <!-- scripts -->
    {% block extrahead %}{% endblock extrahead %}
</head>
<body>
    {% include 'snippets/test_banner.html' %}
    {% block body %}
    <header>{% include "nav.html" %}</header>
    <main>{% block main %}{% endblock main %}</main>
    <footer></footer>
    {% endblock body %}
</body>
</html>