{% load i18n static %}

{# Translators: accessibility text label for footer site navigation #}
{% translate "footer navigation" as footer_nav_label %}
<nav id="footer-nav">
    <ul>
        <li class="menu-item">
            {# Translators: label for 'home' link in footer navigation #}
            <a href="/">{% translate "Home" %}</a>
        </li>
        {% include "snippets/menu.html" %}
    </ul>
</nav>

{# Translators: Text for Twitter links in footer #}
{% translate 'Twitter' as twitter_text %}
{# Translators: Text for Instagram links in footer #}
{% translate 'Instagram' as instagram_text %}

<ul id="footer-links">
    <li class="external-link">
        <a href="https://genizalab.princeton.edu/" aria-label="{% translate 'Princeton Geniza Lab homepage' %}">
            <svg id="pgl-logo">
                <use href="{% static 'img/logos/pgl-logo.svg' %}#pgl-logo" />
            </svg>
        </a>
        <ul class="social">
            <li>
                <a class="twitter" href="https://twitter.com/GenizaLab">{{ twitter_text }}</a>
            </li>
        </ul>
    </li>
    <li class="external-link">
        <a href="https://cdh.princeton.edu/" aria-label="{% translate 'Princeton Center for Digital Humanities homepage' %}">
            <svg id="cdh-logo">
                <use href="{% static 'img/logos/cdh-logo.svg' %}#cdh-logo" />
            </svg>
        </a>
        <ul class="social">
            <li>
                <a class="twitter" href="https://twitter.com/PrincetonDH">{{ twitter_text }}</a>
            </li>
            <li>
                <a class="instagram" href="https://www.instagram.com/princetoncdh/">{{ instagram_text }}</a>
            </li>
        </ul>
    </li>
    <li class="copyright">
        {# Translators: Official name of Princeton University's board of trustees, for footer #}
        <span>{% now 'Y' %} {% translate 'The Trustees of Princeton University' %}</span>
    </li>
    <li class="license">
        {% translate 'Creative Commons CC-BY license' as license_text %}
        <a href="https://creativecommons.org/licenses/by/2.0/" aria-label="{{ license_text }}">
            <img src="{% static 'img/icons/license-icon.svg' %}" alt="{{ license_text }}" />
        </a>
    </li>
    <li class="external-link">
        <a href="https://princeton.edu/" aria-label="{% translate 'Princeton University homepage' %}">
            <svg id="princeton-logo">
                <use href="{% static 'img/logos/princeton-logo.svg' %}#princeton-logo" />
            </svg>
        </a>
    </li>
</ul>