{% load i18n static wagtailcore_tags %}

{% if not page_type or page_type != "places" %}
    <div class="first-row">
        {# Translators: accessibility text label for footer site navigation #}
        {% translate "footer navigation" as footer_nav_label %}
        <nav id="footer-nav">
            <ul role="menu">
                {% include "snippets/menu.html" %}
            </ul>
        </nav>

        <ul id="footer-links">
            {% include "snippets/footer_links.html" %}
        </ul>

        <section class="social">
            {# Translators: list heading for social media links #}
            <h2>{% translate "Follow" %}</h2>
            <ul>
                <li>
                    {% blocktranslate asvar follow_genizalab_twitter with username="GenizaLab" %}Follow {{ username }} on Twitter.{% endblocktranslate %}
                    <a class="twitter" href="https://twitter.com/GenizaLab" aria-label="{{ follow_genizalab_twitter }}">GenizaLab</a>
                </li>
                <li>
                    {% blocktranslate asvar follow_cdh_twitter with username="PrincetonDH" %}Follow {{ username }} on Twitter.{% endblocktranslate %}
                    <a class="twitter" href="https://twitter.com/PrincetonDH" aria-label="{{ follow_cdh_twitter }}">PrincetonDH</a>
                </li>
                <li>
                    {% blocktranslate asvar follow_cdh_insta with username="princetoncdh" %}Follow {{ username }} on Instagram.{% endblocktranslate %}
                    <a class="instagram" href="https://www.instagram.com/princetoncdh/" aria-label="{{ follow_cdh_insta }}">princetoncdh</a>
                </li>
            </ul>
        </section>
    </div>
{% endif %}

<ul id="legal">
    <li>
        <a href="https://accessibility.princeton.edu/help" id="accessibility">
            {# Translators: link label for Princeton accessibility assistance page, for footer #}
            {% translate 'Accessibility' %}
        </a>
    </li>
    <li id="copyright">
        {# Translators: official name of Princeton University's board of trustees, for footer #}
        <span>{% now 'Y' %} {% translate 'The Trustees of Princeton University' %}</span>
    </li>
    <li id="license">
        {# Translators: Creative Commons license text, for footer #}
        {% translate 'Creative Commons CC-BY license' as license_text %}
        <a href="https://creativecommons.org/licenses/by/2.0/" aria-label="{{ license_text }}">
            <img src="{% static 'img/icons/license-icon.svg' %}" width="32" height="16" alt="{{ license_text }}" />
        </a>
    </li>
    <li id="issn">
        {# Translators: International Standard Serial Number (ISSN), for footer #}
        <span>{% translate 'ISSN: 2834-4146' %}</span>
    </li>
    <li id="sw-version">
        {# Translators: software version, for footer #}
        {% translate 'software version' as version_text %}
        <a href="https://github.com/Princeton-CDH/geniza/" aria-label="{{ version_text }}">
            v. {{ SW_VERSION }}
        </a>
    </li>
    {% if page_type == "places" %}
        {% include "snippets/footer_links.html" %}
    {% endif %}
    <li>
        {# Translators: official name of Princeton University, for footer #}
        <a id="princeton-logo" href="https://princeton.edu/" aria-label="{% translate 'Princeton University homepage' %}">
            <svg>
                <use href="{% static 'img/logos/all/all/princeton-logo.svg' %}#princeton-logo" />
            </svg>
        </a>
    </li>
</ul>
