{% load i18n %}
<nav aria-label="main navigation">
    {# Translators: label for 'home' button in main navigation #}
    <div class="home">{% translate "GENIZA" %}</div>
    {% spaceless %}
    {% url "corpus:document-search" as search_url %}
    <ul>
        <li>
            <a href="{{ search_url }}"{% if request.path == search_url %} aria-current="page"{% endif %}>
            {% translate "Search" %}
            </a>
        </li>
        <li><span>{% translate "Editorial" %}</span></li>
        <li><span>{% translate "Contact Us" %}</span></li>
        <li><span>{% translate "About" %}</span></li>
    </ul>
    {% endspaceless %}
</nav>
