{% load i18n static wagtailcore_tags %}

{# Translators: accessibility text label for site navigation #}
{% translate "main navigation" as main_nav_label %}

<nav id="site-nav" aria-label="{{ main_nav_label }}">
    {% spaceless %}
        <ul id="corner-links">
            <li class="home">
                {# Translators: accessibility label for 'home' button in main navigation #}
                {% translate "home" as aria_home %}
                {# Translators: site name label for 'home' button in main navigation #}
                {% translate "The Princeton Geniza Project" as site_name %}
                {% if not skip_nav %}
                    {% pageurl site.root_page.localized as root_url %}
                {% endif %}
                <a class="home-link" href="{{ root_url|default:"/" }}" aria-label="{{ aria_home }}" role="button">
                    <span class="sr-only">{{ aria_home }}</span>
                </a>
            </li>
            <li class="menu-button">
                <a id="open-main-menu" href="#menu" role="button" data-turbo="false">
                    {# Translators: label for 'menu' open button for mobile navigation #}
                    <span class="sr-only">{% translate "Open main navigation menu" %}</span>
                </a>
            </li>
        </ul>
        <ul id="menu" role="menu" aria-label="{{ main_nav_label }}" data-controller="menu">
            <li class="menu-button" role="none">
                <a href="#" role="button" data-turbo="false">
                    {# Translators: label for 'menu' close button for mobile navigation #}
                    {% translate "Close main navigation menu" as close_button %}
                    <span class="sr-only">{{ close_button }}</span>
                </a>
            </li>
            {% include "snippets/menu.html" with in_header="true" %}
        </ul>
        {% include "snippets/language_switcher.html" %}
        {% include "snippets/theme_toggle.html" %}
    {% endspaceless %}
</nav>
