{% load i18n %}
{# Translators: accessibility text label for site navigation #}
<nav class="site-nav" aria-label="{% translate "main navigation" %}">
    {# Translators: label for 'home' button in main navigation #}
    <a class="home-link" href="#">{% translate "GENIZA" %}</a>
    {% spaceless %}
        {% url "corpus:document-search" as search_url %}
        <input type="checkbox" id="menu-toggle" aria-hidden="true" />
        <label for="menu-toggle">
            {# Translators: label for 'menu' open/close button for mobile navigation #}
            <span class="sr-only">{% translate "Toggle main navigation menu" %}</span>
        </label>
        <ul id="menu">
            <li class="menu-item">
                <a href="{{ search_url }}"{% if request.path == search_url %} aria-current="page"{% endif %}>
                    {% translate "Search" %}
                </a>
            </li>
            <li class="menu-item">
                <a href="#">{% translate "Contact Us" %}</a>
            </li>
            <li class="menu-item">
                <a href="#">{% translate "About" %}</a>
            </li>
        </ul>
    {% endspaceless %}
</nav>
