{% extends "admin/change_form.html" %}
{% load render_bundle_csp  %}
{% block admin_change_form_document_ready %}
    {{ block.super }}
    {% render_bundle_csp "admin" "js" attrs='defer' %}
{% endblock %}

{% block after_field_sets %}
    {% if "X" in original.doc_relation %}
        <h2>Transcription</h2>
        <div class="transcription">
            {% for html_sections in original.content_html.values %}
                {% for html in html_sections %}
                    {{ html|safe }}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock after_field_sets %}
