// Generic styles for HTML elements
@use "base/reset";
@use "base/global";

// Patterns and collections of elements that are used across the site
@use "components/navigation";
@use "components/tabs";
@use "components/footnote";
@use "components/metadata";
@use "components/tag";
@use "components/results";
@use "components/searchform";
@use "components/pagination";
@use "components/docheader";
@use "components/controls";
@use "components/footer";
@use "components/nowrap";
@use "components/transcription";

// Page-specific styles
@use "pages/content";
@use "pages/document";
@use "pages/error";
@use "pages/home";
@use "pages/person";
@use "pages/place";
@use "pages/related";
@use "pages/scholarship";
@use "pages/search";
