/* styles for transcription and annotation */

@use "../base/spacing";
@use "../base/typography";

div.annotate {
    .instructions {
        font-style: italic;
        font-size: typography.$text-size-md;
    }

    div[contenteditable="true"],
    h3[contenteditable="true"] {
        background-color: white;
        color: black;
        min-height: 3em;
    }
    ol {
        counter-reset: section;
    }
    li::before {
        /* use pseudo marker to avoid periods for line numbers */
        counter-increment: section;
        content: counter(section);
    }
}

main.addsource {
    h2 {
        margin-top: 1rem;
    }
    button {
        margin-top: 0.5rem;
    }
    span[class^="select2"] {
        background-color: var(--background) !important;
    }
}
