// --------------------------------------------------------------
// Controls for language switcher form and theme toggle checkbox.
// --------------------------------------------------------------

@use "../base/a11y";
@use "../base/breakpoints";
@use "../base/spacing";

div.controls {
    // Controls layout: top right corner
    display: flex;
    position: absolute;
    width: auto;
    flex-direction: row;
    align-items: flex-start;
    right: 4rem;
    top: 1.25rem;
    z-index: 8;
    @include breakpoints.for-tablet-landscape-up {
        right: spacing.$spacing-sm;
        top: spacing.$spacing-xs;
    }

    // Language switcher form
    form#language {
        option[value="he"],
        option[value="ar"] {
            direction: rtl;
        }
        // hide on mobile
        display: none;
        // show on desktop
        @include breakpoints.for-tablet-landscape-up {
            display: block;
        }
    }
}

turbo-frame#main {
    // negative margin on main element to prevent theme toggle's margin-top from shifting page content down

    @include breakpoints.for-tablet-landscape-up {
        // 126px = 70px (toggle height) + 56px (toggle margin-top)
        margin-top: -126px;
    }
}

label#theme-toggle {
    position: sticky;
    display: block;
    z-index: 6;
    cursor: pointer;
    top: spacing.$spacing-sm;
    width: 40px;
    height: 40px;
    @include breakpoints.for-tablet-landscape-up {
        margin-top: 56px;
        margin-left: calc(95vw - 70px);
        width: 70px;
        height: 70px;
    }
    input + span::before {
        content: "";
        background-image: url("/static/img/ui/all/all/light-dark-toggle.svg");
        background-repeat: no-repeat;
        display: block;
        height: 40px;
        width: 40px;
        @include breakpoints.for-tablet-landscape-up {
            height: 70px;
            width: 70px;
        }
        transition: transform 500ms ease;
        transform: rotate(0deg);
    }
    input:checked + span::before {
        transform: rotate(180deg);
    }
    input {
        @include a11y.sr-only;
    }
}

// tweaks for RTL layout for hebrew, arabic
html[dir="rtl"] div.controls {
    left: 4rem;
    right: auto;
    @include breakpoints.for-tablet-landscape-up {
        left: spacing.$spacing-sm;
    }
}
