// --------------------------------------------------------------
// Controls for language switcher form and theme toggle checkbox.
// --------------------------------------------------------------

@use "../base/a11y";
@use "../base/breakpoints";
@use "../base/spacing";
@use "../base/typography";

// Langauge switcher
ul#language-switcher {
    display: flex;
    visibility: hidden;
    background-color: var(--background-gray);
    border-radius: 20px;
    z-index: 8;
    position: fixed;
    top: 16px;
    right: 67px;
    @include breakpoints.for-tablet-landscape-up {
        visibility: visible;
        position: relative;
        top: auto;
        right: 72px;
        border-radius: calc(53px / 2);
        // margin to make room for tablet theme toggle
        margin-right: 30px;
    }
    @include breakpoints.for-desktop-up {
        margin-right: auto;
    }
    li a {
        background-color: var(--background-gray);
        border: 3px solid var(--background-gray);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        text-decoration: none;
        @include breakpoints.for-tablet-landscape-up {
            width: 53px;
            height: 53px;
            border-width: 4px;
            border-radius: calc(53px / 2);
        }
        &.selected {
            background-color: var(--selected-language);
            border-color: var(--filter-active);
        }
        &:hover {
            border-color: var(--tabs-bottom-hover);
            transition: border-color 150ms ease-in-out;
        }
        &::before {
            display: flex;
            color: var(--on-background);
        }
        &[lang="en"]::before {
            content: "E";
            @include typography.language-switch-en;
        }
        &[lang="he"]::before {
            content: "ע";
            @include typography.language-switch-he;
        }
        &[lang="ar"]::before {
            content: "ع";
            @include typography.language-switch-ar;
            margin-top: -5px;
        }
    }
    li:not(:last-child) {
        margin-right: 8px;
        @include breakpoints.for-tablet-landscape-up {
            margin-right: 4px;
        }
    }
}

ul:target + ul#language-switcher {
    visibility: visible;
}

// light/dark mode toggle
label#theme-toggle-desktop,
label#theme-toggle-mobile {
    position: absolute;
    cursor: pointer;
    input + span::before {
        content: "";
        background-image: url("/static/img/ui/all/all/light-dark-toggle.svg");
        background-repeat: no-repeat;
        display: block;
        height: 40px;
        width: 40px;
        @include breakpoints.for-tablet-landscape-up {
            height: 70px;
            width: 70px;
        }
        transition: transform 500ms ease;
        transform: rotate(-180deg);
    }
    input:checked + span::before {
        transform: rotate(0deg);
    }
    input {
        @include a11y.sr-only;
    }
}

// desktop-only toggle
label#theme-toggle-desktop {
    position: fixed;
    top: 247px;
    right: auto;
    left: calc(96.5vw - 70px);
    width: 70px;
    height: 70px;
    z-index: 2; // Hide behind ITT viewer

    // only show on desktop
    display: none;
    @include breakpoints.for-desktop-up {
        display: block;
    }
}
// mobile and tablet toggle
label#theme-toggle-mobile {
    display: block;
    top: spacing.$spacing-md;
    right: 56px;
    width: 40px;
    height: 40px;
    // tablet-only tweaks
    @include breakpoints.for-tablet-landscape-up {
        top: 30px;
        width: 70px;
        height: 70px;
        right: auto;
        left: calc(96.5vw - 70px);
    }
    // hide on desktop
    @include breakpoints.for-desktop-up {
        display: none;
    }
}

// tweaks for RTL layout for hebrew, arabic
html[dir="rtl"] {
    ul#language-switcher {
        left: 55px;
        right: auto;
        @include breakpoints.for-tablet-landscape-up {
            left: 72px;
        }
        li:not(:last-child) {
            margin-right: auto;
            margin-left: 8px;
            @include breakpoints.for-tablet-landscape-up {
                margin-right: auto;
                margin-left: 4px;
            }
        }
    }
    label#theme-toggle-mobile {
        right: auto;
        left: 56px;
    }
}
