// --------------------------------------------------------------
// Controls for language switcher form and theme toggle checkbox.
// --------------------------------------------------------------

@use "../base/a11y";
@use "../base/breakpoints";
@use "../base/spacing";

div.controls {
    // Controls layout: top right corner
    display: flex;
    position: absolute;
    width: auto;
    flex-direction: row;
    align-items: flex-start;
    right: 4rem;
    top: 1.25rem;
    z-index: 8;
    @include breakpoints.for-tablet-landscape-up {
        right: spacing.$spacing-sm;
        top: spacing.$spacing-xs;
    }

    // Language switcher form
    form#language {
        option[value="he"],
        option[value="ar"] {
            direction: rtl;
        }
        // hide on mobile
        display: none;
        // show on desktop
        @include breakpoints.for-tablet-landscape-up {
            display: block;
        }
    }
}

// light/dark mode toggle
label#theme-toggle {
    position: absolute;
    z-index: 5;
    display: block;
    cursor: pointer;
    top: spacing.$spacing-md;
    right: 56px;
    width: 40px;
    height: 40px;
    @include breakpoints.for-tablet-landscape-up {
        top: 45px;
        right: auto;
        left: calc(95vw - 70px);
        width: 70px;
        height: 70px;
    }
    @include breakpoints.for-desktop-up {
        position: fixed;
        z-index: 2;
        top: 247px;
    }
    input + span::before {
        content: "";
        background-image: url("/static/img/ui/all/all/light-dark-toggle.svg");
        background-repeat: no-repeat;
        display: block;
        height: 40px;
        width: 40px;
        @include breakpoints.for-tablet-landscape-up {
            height: 70px;
            width: 70px;
        }
        transition: transform 500ms ease;
        transform: rotate(180deg);
    }
    input:checked + span::before {
        transform: rotate(0deg);
    }
    input {
        @include a11y.sr-only;
    }
}

// tweaks for RTL layout for hebrew, arabic
html[dir="rtl"] div.controls {
    left: 4rem;
    right: auto;
    @include breakpoints.for-tablet-landscape-up {
        left: spacing.$spacing-sm;
    }
}
