/* IIIF viewer (OpenSeaDragon) + transcription text content */

@use "../base/breakpoints";
@use "../base/spacing";
@use "../base/typography";

#iiif-viewer {
    max-width: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--background-light);
    padding: spacing.$spacing-xl spacing.$spacing-lg;
    overflow-x: scroll;
    @include breakpoints.for-tablet-landscape-up {
        padding: spacing.$spacing-2xl 10rem;
        margin: 0;
        max-width: 100%;
        width: 100%;
        flex-flow: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    // Fallback image list for noscript
    #iiif-images-fallback {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        img {
            max-width: 100%;
        }
        @include breakpoints.for-tablet-landscape-up {
            align-items: flex-start;
            width: 50%;
            img {
                max-width: 90%;
            }
        }
    }
    // OpenSeaDragon container
    #iiif-images {
        width: 100%;
        height: 320px;
        & + .transcription {
            margin-top: spacing.$spacing-md;
        }
        @include breakpoints.for-tablet-landscape-up {
            align-items: flex-start;
            width: 50%;
            height: 680px;
            // Special styling for images + transcription
            & + .transcription {
                align-self: flex-start;
                margin: 0 0 0 spacing.$spacing-md;
                width: 50%;
                max-width: 50%;
            }
            // Special styling for images and NO transcription
            &:last-child {
                margin: 0 auto;
            }
        }
    }
    // Transcription text
    .transcription {
        max-width: 60ch;
        margin: 0 auto;
        * {
            max-width: 100%;
        }
        h1 {
            @include typography.headline-3;
            text-align: left;
            direction: ltr;
        }
        li {
            & + li {
                margin-top: spacing.$spacing-xs;
            }
        }
        section + section {
            margin-top: spacing.$spacing-md;
        }
    }
}

// OpenSeaDragon full screen
canvas {
    max-width: none;
}
