/* IIIF viewer (OpenSeaDragon) + transcription text content */

@use "../base/breakpoints";
@use "../base/spacing";
@use "../base/typography";

#iiif-viewer {
    max-width: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--background-light);
    padding: spacing.$spacing-xl spacing.$spacing-lg;
    width: 100%;
    max-width: 100%;
    @include breakpoints.for-tablet-landscape-up {
        padding: spacing.$spacing-2xl 10rem;
        margin: 0;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    // Fallback image list for noscript
    #iiif-images-fallback {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        img {
            max-width: 100%;
        }
        @include breakpoints.for-tablet-landscape-up {
            align-items: flex-start;
            width: 50%;
            img {
                max-width: 90%;
            }
        }
    }
    // OpenSeaDragon container
    #iiif-images {
        width: 100%;
        min-height: 320px;
        height: 320px;
        & + .transcription {
            margin-top: spacing.$spacing-md;
        }
        @include breakpoints.for-tablet-landscape-up {
            align-items: flex-start;
            width: 47%;
            flex: 0 1 47%;
            height: 680px;
            // Special styling for images + transcription
            & + .transcription {
                align-self: flex-start;
                margin: 0;
                width: 50%;
                max-width: 50%;
                flex: 0 1 50%;
            }
            // Special styling for images and NO transcription
            &.no-transcription {
                margin: 0 auto;
                flex: 1 0 100%;
            }
        }
    }
    // Transcription text
    .transcription {
        max-width: 60ch;
        margin: 0 auto;
        flex: 1 0 auto;
        @include breakpoints.for-tablet-landscape-up {
            flex: 1 0 100%;
            /* make a scrollable div; match height with image container */
            max-height: 680px;
            overflow: scroll;
            /* no scrolling/max height when no image present */
            &.no-image {
                max-height: none;
                overflow: auto;
            }
        }
        * {
            max-width: 100%;
        }
        h1,
        h2 {
            @include typography.headline-3;
            direction: ltr;
        }
        h1,
        h3 {
            text-align: left;
        }
        li {
            & + li {
                margin-top: spacing.$spacing-xs;
            }
        }
        section + section {
            margin-top: spacing.$spacing-md;
        }

        .source {
            @include typography.body-bold;
            text-align: left;
            padding-top: spacing.$spacing-md;
        }
    }

    // Attribution text
    details.attribution {
        max-width: 100%;
        * {
            max-width: 100%;
        }
        align-self: flex-start;
        flex: 1 0 100%;
        margin: 48px 0 0;
        text-align: left;
        // Label to expand "Image Permissions Statement"
        summary {
            cursor: pointer;
            display: flex;
            align-items: center;
            span {
                @include typography.link;
            }
            // Suppress default details marker
            list-style-type: none;
            &::-webkit-details-marker {
                display: none;
            }
            &::after {
                content: "\f0c2"; // phosphor caret-down icon
                @include typography.icon-button-md;
                transition: transform 0.75s ease;
                display: inline-block;
                text-decoration: none;
                margin-left: spacing.$spacing-xs;
            }
        }
        &[open] summary {
            // Expanded details marker
            &::after {
                transform: rotate(-180deg);
            }
            margin-bottom: 0.5rem;
        }
        @include typography.permissions-statement;
        span.shelfmark {
            @include typography.permissions-statement-bold;
        }
        // list of attributions
        ul {
            list-style: none;
        }
        li.fragment-attribution {
            margin-top: spacing.$spacing-xs;
        }
        // spacing tweaks for desktop
        @include breakpoints.for-tablet-landscape-up {
            margin: 50px 0 0;
            &[open] summary {
                margin-bottom: spacing.$spacing-md;
            }
            li.fragment-attribution {
                margin-top: 0.75rem;
            }
        }
    }
}

// OpenSeaDragon full screen
canvas {
    max-width: none;
}
