// -----------------------------------------------------------------------------
// Language switcher form.
// -----------------------------------------------------------------------------

@use "../base/breakpoints";
@use "../base/spacing";

form#language {
    position: absolute;
    right: spacing.$spacing-sm;
    top: spacing.$spacing-4xl;

    @include breakpoints.for-tablet-landscape-up {
        top: spacing.$spacing-xs;
    }

    option[value="he"],
    option[value="ar"] {
        direction: rtl;
    }
}
