// -----------------------------------------------------------------------------
// Lists of detailed metadata about Geniza documents.
// -----------------------------------------------------------------------------

@use "../base/spacing";
@use "../base/typography";

.metadata {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    row-gap: spacing.$spacing-xs;

    @include typography.meta;
}
