// -----------------------------------------------------------------------------
// Main site navigation that appears on every page.
// -----------------------------------------------------------------------------

@use "../base/breakpoints";
@use "../base/colors";
@use "../base/spacing";
@use "../base/typography";

.site-nav {
    display: flex;
    @include breakpoints.for-tablet-landscape-up {
        align-items: flex-end;
        justify-content: space-between;
    }

    // Logotype, links to homepage
    .home-link {
        @include typography.headline-5;
        @include breakpoints.for-tablet-landscape-up {
            @include typography.headline-4;
            @include colors.apply-combo("primary");
        }

        display: inline-block;
        flex: none;
        padding: spacing.$spacing-lg spacing.$spacing-md;
    }
    // Phosphor icon for mobile menu
    i.ph-list {
        display: flex;
        align-self: center;
        font-size: typography.$text-size-3xl;
        @include breakpoints.for-tablet-landscape-up {
            display: none;
        }
    }
    // List of links
    .menu {
        padding: 0;
        max-width: 100%;
        flex: 1 0 auto;
        display: none;
        margin: 0 spacing.$spacing-sm 0 spacing.$spacing-2xl;
        @include breakpoints.for-tablet-landscape-up {
            display: flex;
        }
        justify-content: flex-end;
        outline: 1px solid;
        @include colors.apply-theme("nav-outline", "outline-color");
    }

    // Individual menu items
    .menu-item {
        font-size: typography.$text-size-2md;
        padding: spacing.$spacing-xs 0;

        & + .menu-item {
            margin-left: spacing.$spacing-2xl;
        }

        &:last-child {
            margin-right: spacing.$spacing-4xl;
            &::after {
                font-family: "Phosphor";
                content: "\f0c2"; // phosphor caret-down-fill icon
                float: right;
                margin-left: spacing.$spacing-xs;
                padding: 0;
            }
        }
    }

    // Currently active page
    a[aria-current="page"] {
        font-weight: bold;
        font-size: typography.$text-size-2md;
    }
}
