// -----------------------------------------------------------------------------
// Main site navigation that appears on every page.
// -----------------------------------------------------------------------------

@use "../base/breakpoints";
@use "../base/colors";
@use "../base/spacing";
@use "../base/typography";

.site-nav {
    display: flex;
    flex-flow: row wrap;
    @include breakpoints.for-tablet-landscape-up {
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }
    // Logotype, links to homepage
    a.home-link {
        @include breakpoints.for-tablet-landscape-up {
            @include colors.apply-combo("primary");
        }
        display: inline-block;
        flex: none;
        padding: spacing.$spacing-lg spacing.$spacing-md;
        @include typography.home-button;
    }
    // Mobile-only menu buttons
    li.menu-button {
        display: block;
        a {
            display: flex;
            text-decoration: none;
            @include typography.icon-button;
            @include colors.apply-theme("on-background");
        }
    }
    // Top-left corner links: home and open menu button
    ul#corner-links {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        li.menu-button a::before {
            font-family: "Phosphor";
            content: "\f1fa";
        }
    }
    // List of links
    ul#menu {
        display: flex;
        left: calc(-100vw);
        transition: left 0.5s;
        position: fixed;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        max-width: 100%;
        width: 100%;
        height: 100vh;
        z-index: 100;
        & > li.menu-button {
            display: flex;
            margin-right: spacing.$spacing-sm;
            @include breakpoints.for-tablet-landscape-up {
                display: none;
            }
        }
        li.menu-button a::before {
            font-family: "Phosphor";
            content: "\f36d";
        }
        &:target {
            left: 0;
            pointer-events: all;
            @include breakpoints.for-tablet-landscape-up {
                flex: 1 0 auto;
                left: auto;
                transition: none;
            }
        }
        @include breakpoints.for-tablet-landscape-up {
            display: flex;
            height: auto;
            transition: none;
            left: auto;
            position: relative;
            flex: 1 0 auto;
            flex-flow: row nowrap;
            justify-content: flex-end;
            outline: 1px solid;
            width: auto;
            margin: 0 spacing.$spacing-sm 0 spacing.$spacing-2xl;
            pointer-events: all;
            & > li.menu-item + li.menu-item {
                margin-left: spacing.$spacing-2xl;
            }
        }
        @include colors.apply-theme("nav-outline", "outline-color");
        @include colors.apply-theme("background", "background-color");
    }
    li.menu-button,
    ul#menu li.home,
    ul#menu:target li.menu-button,
    ul#menu:target li.menu-label {
        @include breakpoints.for-tablet-landscape-up {
            display: none;
        }
    }

    // Individual menu items
    .menu-item,
    #about-menu .menu-item {
        flex: 1 0 100%;
        max-width: 100%;
        // Mobile links which need padding, inline-block, and border-top
        a {
            text-decoration: none;
            padding: spacing.$spacing-2xl spacing.$spacing-sm
                spacing.$spacing-lg;
            width: 100%;
            max-width: 100%;
            display: inline-block;
            border-top: 1px solid;
            @include colors.apply-theme("nav-outline", "border-top-color");
            @include typography.nav-link;
            @include typography.mobile-menu;
        }
        & + .menu-item a,
        & + #about-menu .menu-item a {
            padding-top: spacing.$spacing-lg;
            border-top-color: colors.$gray-50;
            @include breakpoints.for-tablet-landscape-up {
                padding-top: 0;
                border: none;
            }
        }
        &:last-child {
            height: 100%;
        }
        &.has-submenu a#open-about-menu {
            // Icon for "About" dropdown
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            padding-top: spacing.$spacing-sm;
            &::after {
                font-family: "Phosphor";
                content: "\f0c4"; // phosphor caret-right icon
                @include typography.icon-button;
            }
            ul {
                display: none;
                position: absolute;
            }
            &:hover ul {
                display: block;
            }
        }
        @include breakpoints.for-tablet-landscape-up {
            // desktop links (strip some mobile styles)
            flex: 0 0 auto;
            padding: spacing.$spacing-xs 0;
            a {
                display: inline;
                border: none;
                padding: 0;
            }
            &.has-submenu {
                margin-right: spacing.$spacing-4xl;
                height: auto;
                // NOTE: Icon for "About" link, may need to be moved around if order changes
                &::after {
                    font-family: "Phosphor";
                    content: "\f0c2"; // phosphor caret-down icon
                    float: right;
                    margin-left: spacing.$spacing-xs;
                    padding: 0;
                }
                a#open-about-menu {
                    display: inline;
                    padding-top: 0;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    #about-menu {
        display: flex;
        left: calc(100vw);
        transition: left 0.5s;
        position: fixed;
        top: 0;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 100%;
        padding: 0;
        max-width: 100%;
        width: 100%;
        height: 100vh;
        li.menu-button {
            display: inline-block;
            width: auto;
            padding: spacing.$spacing-lg spacing.$spacing-sm;
            height: spacing.$spacing-3xl;
            a {
                text-decoration: none;
                padding: 0;
                width: auto;
                display: inline;
                border: none;
            }
            a#back-to-main-menu::before {
                font-family: "Phosphor";
                content: "\f0c3"; // phosphor caret-left icon
                @include typography.icon-button;
            }
        }
        li.menu-label {
            display: inline-block;
            flex: 1 0 auto;
            @include typography.nav-link;
            @include typography.mobile-menu;
        }
        &:target {
            left: 0;
            @include breakpoints.for-tablet-landscape-up {
                transition: none;
                left: auto;
            }
        }
        @include breakpoints.for-tablet-landscape-up {
            display: none;
            left: auto;
            transition: none;
            flex: 1 0 auto;
            position: absolute;
            top: 100%;
            width: auto;
            height: auto;
            border: 1px solid;
            border-top: none;
            @include colors.apply-theme("nav-outline", "border-color");
            li.menu-button,
            li.menu-label {
                display: none;
            }
            a[role="menuitem"] {
                padding: 0 spacing.$spacing-md;
            }
        }
        @include colors.apply-theme("background", "background-color");
    }
    a#open-about-menu:hover + #about-menu,
    li:hover #about-menu,
    #about-menu:hover,
    li.has-submenu.open #about-menu {
        @include breakpoints.for-tablet-landscape-up {
            display: block;
            li.menu-item {
                display: block;
            }
        }
    }

    // Currently active page
    a[aria-current="page"] {
        @include typography.nav-bold;
        @include typography.mobile-menu;
    }
}
