// -----------------------------------------------------------------------------
// Lists of search results for documents.
// -----------------------------------------------------------------------------

@use "../base/breakpoints";
@use "../base/container";
@use "../base/spacing";
@use "../base/typography";
@use "../base/colors";

section#document-list {
    width: 100%;
    @include container.two-column;
    display: flex;
    flex-direction: column;
    padding: 0 spacing.$spacing-md spacing.$spacing-md;

    // count of results
    h1 {
        @include container.two-column;
        @include typography.caption;
        text-align: center;
        margin: spacing.$spacing-sm 0;
    }
    // list of results
    ol {
        list-style: none;
        @include container.two-column;
        margin-top: spacing.$spacing-2xl;
        @include breakpoints.for-tablet-landscape-up {
            margin-top: spacing.$spacing-4xl;
        }
    }
    nav.pagination + ol {
        margin-top: 0;
        @include breakpoints.for-tablet-landscape-up {
            margin-top: spacing.$spacing-md;
        }
    }
}

// single result
.search-result {
    @include container.two-column;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;

    @include breakpoints.for-tablet-landscape-up {
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    // spacing in between results
    & + .search-result {
        margin-top: spacing.$spacing-2xl;
        // separator image (mobile)
        &::before {
            content: "";
            display: block;
            position: absolute; // needs to be absolute to prevent overflow
            background-color: var(--link-primary);
            left: 0;
            margin-top: -#{spacing.$spacing-lg};
            width: 300px;
            height: 6px;
            mask-image: url("/static/img/ui/mobile/all/separator.svg");
            // separator image (desktop)
            @include breakpoints.for-tablet-landscape-up {
                margin-left: spacing.$spacing-2xl;
                position: relative;
                left: auto;
                width: 100%;
                height: 47px;
                mask-image: url("/static/img/ui/desktop/all/separator.svg");
            }
        }
        .score {
            top: 1.5rem;
        }
    }

    // relevance score if enabled
    .score {
        @include typography.meta-bold;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--background-gray);
        padding: 0.25rem;
        border: 1px solid var(--on-background);
    }

    // result number in list
    .counter {
        @include typography.headline-2;
        text-align: left;
        float: left;
        flex: 0 1 auto;
    }

    // First row on mobile, left column on larger
    section:first-of-type {
        margin-left: spacing.$spacing-md;
        max-width: container.$measure;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        flex: 1 1 70%;
        &.has-image {
            @include breakpoints.for-tablet-landscape-up {
                flex: 1 0 60%;
                align-self: flex-start;
            }
        }
        // document titles
        .title {
            position: relative;

            // document type, inside title
            .doctype {
                @include typography.doctype;
            }
            .shelfmark {
                @include typography.shelfmark;
            }
        }

        // other document metadata
        dl.metadata-list {
            grid-template-columns: auto 1fr;
            column-gap: 1rem;
        }

        // document description, transcription, translation margins/highlighting
        .description,
        .transcription,
        .translation {
            margin: spacing.$spacing-md 0;

            // keywords in context
            em {
                color: var(--secondary);
                font-weight: bold;
                font-style: normal;
            }
            /* solr returns multiple matches in text without space between */
            em + em {
                &::before {
                    content: " ";
                }
            }
        }

        // document scholarship records
        .scholarship {
            @include typography.meta;
            display: flex;
            flex-flow: row wrap;
            & span {
                padding-right: spacing.$spacing-md;
                &:last-child {
                    padding-right: 0;
                }
            }
        }

        // document tags
        ul.tags {
            margin-top: spacing.$spacing-md;
        }
    }

    // document images
    ul.images {
        position: relative;
        display: flex;
        flex-flow: column;
        margin-top: spacing.$spacing-lg;
        text-align: center;
        overflow-x: visible;
        overflow-y: clip;
        img {
            max-width: 170px;
            max-height: 250px;
            width: auto;
        }
        li {
            width: 170px;
            padding: 10px 0;
            margin: 0 auto;
            z-index: 3;
            & + li {
                position: absolute;
                z-index: 2;
                top: 5%;
                left: 7.5%;
                img {
                    max-width: 160px;
                    max-height: 240px;
                    opacity: 0.8;
                }
            }
            & + li + li {
                z-index: 1;
                top: 10%;
                left: 12.5%;
                img {
                    max-width: 150px;
                    max-height: 230px;
                    opacity: 0.3;
                }
            }
        }
        @include breakpoints.for-tablet-landscape-up {
            flex: 0 1 31%;
            margin-top: spacing.$spacing-xl;
            img {
                max-width: 100%;
                max-height: 300px;
            }
            li {
                width: 100%;
                & + li {
                    left: 5%;
                    img {
                        max-width: 90%;
                        max-height: 300px;
                    }
                }
                & + li + li {
                    left: 10%;
                    img {
                        max-width: 80%;
                        max-height: 300px;
                    }
                }
            }
        }
    }

    /* use pseudo marker to get transcription line numbers from snippets */
    .transcription li,
    .translation li {
        list-style-type: none; /* hide automatic ol numbering */
        &::before {
            @include typography.transcription-numerals;
            content: attr(value);
            height: 100%;
        }
        &:empty::before,
        &:has(p:empty)::before,
        &:has(em:empty)::before {
            display: none;
        }
    }
    .transcription[dir="ltr"] li::before,
    .translation[dir="ltr"] li::before {
        margin-left: -2rem;
        text-align: left;
        float: left;
    }
    .transcription[dir="rtl"] li,
    .translation[dir="rtl"] li {
        direction: rtl;
        &::before {
            margin-right: -2rem; /* shift outside text margin */
            text-align: right;
            float: right;
        }
    }

    /* set height on empty transcription/translation li to prevent overlap issue */
    .translation li:empty {
        height: calc(1.125rem * 1.5);
        @include breakpoints.for-tablet-landscape-up {
            height: calc(1.25rem * 1.5);
        }
    }
    .transcription li:empty {
        height: calc(27 / 20 * 1.25rem);
        @include breakpoints.for-tablet-landscape-up {
            height: calc(32 / 22 * 1.375rem);
        }
    }

    /* raise tags & text over clickable pseudo content to allow selection */
    .description,
    .transcription,
    .translation,
    dl.metadata-list dd,
    .tags {
        position: relative;
        z-index: 4;
    }
    /* make the whole result block clickable */
    a.view-link:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// "view document details" link
a.view-link {
    display: flex;
    flex: 1 0 100%;
    width: max-content;
    height: 1.75rem;
    margin-left: auto;
    margin-top: spacing.$spacing-md;
    justify-content: flex-end;
    z-index: 3;
    & > span {
        display: flex;
        flex: 0 1 auto;
        align-items: center;
        @include typography.meta;
        border-bottom: 3px solid var(--background);
        color: var(--icon-button);
    }
    // focus styles
    &:focus > span {
        outline: 0.125rem solid var(--focus);
        outline-offset: 0.66rem;
    }
    // hover and active styles
    &:hover > span,
    &:active > span {
        outline: none; // keeping focus and hover/active styles distinct
    }
    &:hover > span {
        border-bottom-color: var(--icon-button);
        @include breakpoints.for-tablet-landscape-up {
            border-bottom-color: var(--icon-button-hover);
        }
    }
    &:active > span {
        color: var(--icon-button-active);
        border-bottom-color: var(--icon-button);
    }
    // icon to the right
    & > span:after {
        font-family: "Phosphor" !important;
        content: "\f044"; // phosphor arrow-right icon
        margin-left: spacing.$spacing-2xs;
        font-size: typography.$text-size-xl;
        @include breakpoints.for-tablet-landscape-up {
            margin-left: spacing.$spacing-sm;
            font-size: typography.$text-size-2xl;
        }
    }
}

// tweaks for RTL search results for hebrew, arabic
html[dir="rtl"] .search-result {
    // spacing in between results
    & + .search-result:before {
        // separator image (mobile)
        transform: scale(-1, 1);
        // separator image (desktop)
        @include breakpoints.for-tablet-landscape-up {
            margin-right: spacing.$spacing-2xl;
            margin-left: 0;
            right: auto;
            transform: scale(-1, 1);
        }
    }
    // result number in list
    .counter {
        text-align: right;
        float: right;
    }
    // First row on mobile, left column on larger
    section:first-of-type {
        margin-right: spacing.$spacing-md;
        margin-left: 0;
        &.has-image {
            @include breakpoints.for-tablet-landscape-up {
                padding-right: 0;
                padding-left: spacing.$spacing-sm;
            }
        }
        // document scholarship records
        .scholarship {
            & span {
                padding-right: 0;
                padding-left: spacing.$spacing-md;
                &:last-child {
                    padding-left: 0;
                }
            }
        }
        // document tags
        ul.tags {
            text-align: left;
            align-self: flex-end;
        }
    }
    // document images
    ul.images {
        li {
            & + li {
                left: auto;
                right: 7.5%;
            }
            & + li + li {
                left: auto;
                right: 12.5%;
            }
        }
        @include breakpoints.for-tablet-landscape-up {
            li {
                & + li {
                    left: auto;
                    right: 5%;
                }
                & + li + li {
                    left: auto;
                    right: 10%;
                }
            }
        }
    }
    // "view document details" link
    a.view-link {
        margin-left: 0;
        margin-right: auto;
        // icon to the left
        span:after {
            content: "\f03b"; // phosphor arrow-right icon
            margin-left: 0;
            margin-right: spacing.$spacing-2xs;
            @include breakpoints.for-tablet-landscape-up {
                margin-left: 0;
                margin-right: spacing.$spacing-sm;
            }
        }

        /* make the whole result block clickable */
        &:before {
            left: auto;
            right: 0;
        }
    }
    .transcription[dir="rtl"],
    .translation[dir="rtl"] {
        align-self: flex-start;
    }
    .transcription[dir="ltr"],
    .translation[dir="ltr"] {
        align-self: flex-end;
    }
}

// Hebrew variant
html[lang="he"] {
    .search-result .counter {
        @include typography.headline-2-he;
    }
    .search-result section:first-of-type .scholarship,
    a.view-link > span {
        @include typography.meta-he;
    }
}

// Arabic variant
html[lang="ar"] {
    .search-result .counter {
        @include typography.headline-2-ar;
    }
    .search-result section:first-of-type .scholarship,
    a.view-link > span {
        @include typography.meta-ar;
    }
}
