// -----------------------------------------------------------------------------
// Lists of search results for documents.
// -----------------------------------------------------------------------------

@use "../base/typography";

// list of results
.search-results {
    list-style: none; 
    counter-reset: search-counter;
}

// single result
.search-result {
    counter-increment: search-counter;

    // spacing in between results
    & + .search-result {
        margin-top: 35px;
    }

    // document titles
    .title {
        @include typography.subtitle;
        
        position: relative;
        
        // anchor counter to h2 instead of li, for alignment regardless of tags
        &::before {
            content: counter(search-counter);
            margin-left: -1.5rem;
            text-align: left;
            float: left;
            font-weight: bold;
        }
    }

    // document type, inside title
    .doctype {
        font-weight: bold;
        
        &::after {
            font-weight: normal;
            content: ", ";
        }
    }

    // document description
    .description {
        margin: 0.5rem 0;
    }

    // "view more details" link
    .view-link {
        @include typography.link;
    
        display: block;
        width: max-content;
        margin-left: auto;
    }
}