// -----------------------------------------------------------------------------
// Document search form.
// -----------------------------------------------------------------------------

@use "../base/a11y";
@use "../base/breakpoints";
@use "../base/colors";
@use "../base/container";
@use "../base/spacing";
@use "../base/typography";

/*
 * Mixin to add a box-shadow given a color.
 * @param {color} $color - The color variable
*/
@mixin box-shadow($color) {
    box-shadow: 0px 2px 4px $color;
}

/* 
 * Mixin for form button colors in all four states:
 * default, focus, hover, active.
 */
@mixin form-button-colors {
    color: var(--secondary);
    background-color: var(--background-light);
    @include box-shadow(var(--on-background-25));
    &:focus {
        outline: none;
        @include box-shadow(var(--secondary-80));
    }
    &:hover {
        box-shadow: none;
        color: var(--on-secondary);
        background-color: var(--secondary);
    }
    &:active {
        box-shadow: none;
        color: var(--on-primary);
        background-color: var(--primary);
    }
    transition: background-color 0.15s ease-in-out, color 0.15s ease,
        box-shadow 0.15s ease;
}

/* 
 * Mixin for form drop shadow in three states:
 * default, focus, active.
 */
@mixin form-drop-shadow($with-default: "true") {
    transition: box-shadow 0.15s ease;
    @include box-shadow(var(--on-background-25));
    &:focus,
    &:focus-within {
        outline: none;
        @include box-shadow(var(--secondary-80));
    }
    &:active {
        @include box-shadow(var(--primary-80));
    }
}

// search form
#search main form fieldset {
    @include container.two-column;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    // search box
    input[type="search"] {
        max-width: calc(100% - 2.75rem - #{spacing.$spacing-sm});
        order: 1;
        flex: 1 1 auto;
        border: none;
        margin-right: spacing.$spacing-sm;
        height: 2.5rem;
        padding: 0 0 0 spacing.$spacing-sm;
        @include typography.form-option;
        background-color: var(--background-light);
        color: var(--on-background-light);
        @include form-drop-shadow;
        &::placeholder {
            color: var(--on-background);
        }
        &:hover::placeholder,
        &:active::placeholder {
            color: var(--on-background-light-alt);
        }
    }
    // sort options select (uses details/summary)
    details.sort-select {
        position: relative;
        order: 5;
        flex: 1 1 auto;
        min-height: 2.5rem;
        max-width: 100%;
        @include breakpoints.for-tablet-landscape-up {
            min-width: auto;
            max-width: 23rem;
        }
        summary {
            display: flex;
            min-height: 2.5rem;
            cursor: pointer;
            margin-top: spacing.$spacing-sm;
            // Suppress default details marker
            &::-webkit-details-marker {
                display: none;
            }
            span,
            button {
                cursor: pointer;
                background-color: var(--background-light);
                color: var(--on-background-light);
            }
            span {
                flex: 1 1 auto;
                display: flex;
                max-width: 100%;
                align-items: center;
                padding: spacing.$spacing-2xs 0.7rem;
                margin-right: spacing.$spacing-sm;
                @include typography.form-option-sm;
                @include form-drop-shadow;
            }
            div[role="button"] {
                @include form-button-colors;
                flex: 1 1 2.0625rem;
                width: auto;
                max-width: 2.0625rem;
                display: flex;
                align-items: center;
                justify-content: center;
                &::after {
                    font-family: "Phosphor";
                    content: "\f0c2"; // phosphor caret-down icon
                    @include typography.icon-button-md;
                }
            }
            &:focus {
                outline: none;
            }
            // Focus styles using box-shadow
            &:focus span,
            &:focus div[role="button"],
            &:focus-within span,
            &:focus-within div[role="button"],
            &:focus + ul,
            &:focus-within + ul {
                @include box-shadow(var(--secondary-80));
            }
            &:focus-within + ul:active {
                @include box-shadow(var(--primary-80));
            }
        }
        // List of sort options
        ul {
            padding: spacing.$spacing-sm 0;
            max-width: calc(100% - 2.0625rem - #{spacing.$spacing-sm});
            @include form-drop-shadow;
            background-color: var(--background-light);
            li {
                display: flex;
                label {
                    width: 100%;
                    flex: 0 1 100%;
                    display: flex;
                    cursor: pointer;
                    span {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        flex: 0 1 100%;
                        padding: spacing.$spacing-sm;
                        transition: background-color 0.15s ease,
                            color 0.15s ease;
                    }
                    &:hover,
                    &:focus-within {
                        background-color: var(--background-gray);
                        color: var(--on-background-gray);
                    }
                    &:hover input[name="sort"]:focus + span {
                        background-color: var(--tertiary);
                        color: var(--on-tertiary);
                    }
                    // Checkboxes only visible to screen readers
                    input[name="sort"] {
                        @include a11y.sr-only;
                        // Selected option
                        &:checked + span {
                            @include typography.form-option-sm-bold;
                        }
                        &:active + span {
                            background-color: var(--secondary);
                            color: var(--on-secondary);
                        }
                    }
                    // Non-selected options
                    @include typography.form-option-sm;
                }
            }
        }
    }
    label[for="sort"] {
        max-width: 100%;
        order: 4;
        flex: 1 0 100%;
        margin-top: spacing.$spacing-lg;
        @include typography.form-option;
    }
    button[type="submit"] {
        order: 2;
        position: relative;
        flex: 0 1 2.5rem;
        width: auto;
        height: 2.5rem;
        border-radius: 0;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        @include form-button-colors;
        @include breakpoints.for-tablet-landscape-up {
            flex-basis: 3rem;
            height: 2.5rem;
        }
        // Magnifying glass icon
        &::after {
            font-family: "Phosphor";
            content: "\f5e6"; // phosphor magnifying glass bold icon
            @include typography.icon-button-sm;
            @include breakpoints.for-tablet-landscape-up {
                content: "\f20a"; // phosphor magnifying glass icon
                @include typography.icon-button-md;
            }
        }
    }
    // document type filter
    details.doctype-filter {
        order: 3;
        flex: 1 0 100%;
        max-width: 100%;
        margin-top: spacing.$spacing-lg;
        @include typography.form-option;
        background-color: var(--background-light);
        color: var(--on-background-light);
        @include box-shadow(var(--on-background-25));
        transition: box-shadow 0.15s ease;
        // Label for document type filter
        summary {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            height: 2.9375rem;
            max-width: 100%;
            padding: 0 spacing.$spacing-sm;
            @include breakpoints.for-tablet-landscape-up {
                padding: 0 spacing.$spacing-md;
            }
            list-style-type: none;
            cursor: pointer;
            // Suppress default details marker
            &::-webkit-details-marker {
                display: none;
            }
            &::after {
                font-family: "Phosphor";
                content: "\f0c2"; // phosphor caret-down icon
                @include typography.icon-button-md;
                transition: transform 0.75s ease;
                float: right;
            }
            transition: box-shadow 0.15s ease;
            &:focus {
                outline: none;
                @include box-shadow(var(--secondary-80));
            }
        }
        &[open] summary {
            @include box-shadow(var(--on-background-25));
            // Expanded details marker
            &::after {
                transform: rotate(-180deg);
            }
            &:focus {
                outline: none;
                @include box-shadow(var(--secondary-80));
            }
        }
        &:active {
            @include box-shadow(var(--secondary-80));
            &[open] summary {
                @include box-shadow(var(--secondary-80));
            }
        }

        // List of filter options
        ul#id_doctype {
            max-width: 100%;
            list-style-type: none;
            padding: 0.25rem 0 0;
            li {
                max-width: 100%;
                label {
                    max-width: 100%;
                    display: flex;
                    span {
                        display: flex;
                        align-items: center;
                        max-width: 100%;
                        flex: 1 0 auto;
                        padding: 0 spacing.$spacing-md;
                        height: 2.25rem;
                        @include breakpoints.for-tablet-landscape-up {
                            height: 2.5rem;
                        }
                        transition: background-color 0.15s ease,
                            color 0.15s ease;
                    }
                    .count {
                        @include typography.filter-count;
                        flex: 0 1 auto;
                        margin-left: auto;
                        padding: 0 spacing.$spacing-md;
                        height: auto;
                    }
                    &:hover span,
                    &:focus-within span {
                        background-color: var(--background-gray);
                        color: var(--on-background-gray);
                    }
                    &:hover input[type="checkbox"]:checked + span,
                    &:hover input[type="checkbox"]:checked + span + .count,
                    input[type="checkbox"]:checked:focus + span,
                    input[type="checkbox"]:checked:focus + span + .count {
                        background-color: var(--secondary);
                        color: var(--on-secondary);
                    }
                    input[type="checkbox"] {
                        @include a11y.sr-only;
                        &:checked + span,
                        &:checked + span + .count {
                            background-color: var(--tertiary);
                            color: var(--on-tertiary);
                        }
                    }
                }
            }
        }
    }
}
