// -----------------------------------------------------------------------------
// Document search form.
// -----------------------------------------------------------------------------

@use "../base/a11y";
@use "../base/breakpoints";
@use "../base/colors";
@use "../base/container";
@use "../base/spacing";
@use "../base/typography";

// search form
#search form fieldset {
    @include container.two-column;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    input[type="search"] {
        max-width: 100%;
        order: 1;
        flex: 1 0 auto;
        border: 1px solid colors.$gray-50;
        margin-right: 0;
        height: spacing.$spacing-xl;
        padding: spacing.$spacing-sm;
        font-size: typography.$text-size-md;
        &::placeholder {
            font-size: typography.$text-size-md;
        }
        @include breakpoints.for-tablet-landscape-up {
            border-right: none;
            font-size: typography.$text-size-2md;
        }
    }
    select[name="sort"] {
        width: 100%;
        max-width: 100%;
        order: 5;
        flex: 1 1 auto;
        border-radius: 0;
        height: spacing.$spacing-xl;
        padding: spacing.$spacing-2xs spacing.$spacing-xs;
        margin-top: spacing.$spacing-sm;
        font-size: typography.$text-size-md;
        @include breakpoints.for-tablet-landscape-up {
            width: auto;
            flex: 0 1 auto;
            font-size: typography.$text-size-lg;
        }
    }
    label[for="sort"] {
        max-width: 100%;
        order: 4;
        flex: 1 0 100%;
        margin-top: spacing.$spacing-lg;
        font-size: typography.$text-size-md;
        @include breakpoints.for-tablet-landscape-up {
            font-size: typography.$text-size-2md;
        }
    }
    button[type="submit"] {
        order: 2;
        flex: 0 0 40px;
        border-radius: 0;
        margin-left: 0;
        background-color: colors.$gray-30;
        border: 1px solid colors.$gray-50;
        font-size: typography.$text-size-xl;
        display: flex;
        align-items: center;
        justify-content: center;
        @include a11y.sr-only-focusable;
        @include breakpoints.for-tablet-landscape-up {
            width: auto;
            height: spacing.$spacing-xl;
            position: relative;
            &:active,
            &:focus {
                width: auto;
                height: spacing.$spacing-xl;
            }
        }
    }
    // document type filter
    details {
        order: 3;
        flex: 1 0 100%;
        max-width: 100%;
        border: 1px solid colors.$gray-50;
        margin-top: spacing.$spacing-lg;
        @include breakpoints.for-tablet-landscape-up {
            font-size: typography.$text-size-2md;
        }
        // Label for document type filter
        summary {
            max-width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: spacing.$spacing-sm;
            @include breakpoints.for-tablet-landscape-up {
                padding: spacing.$spacing-sm spacing.$spacing-md;
            }
            list-style-type: none;
            // Repalcing default details marker
            &::-webkit-details-marker {
                display: none;
            }
            &::after {
                content: "\25B6";
            }
        }
        &[open] summary {
            border-bottom: 1px solid colors.$gray-50;
            // Expanded details marker
            &::after {
                content: "\25BC";
            }
        }

        // List of filter options
        ul#id_doctype {
            max-width: 100%;
            list-style-type: none;
            padding: spacing.$spacing-sm;
            @include breakpoints.for-tablet-landscape-up {
                padding: spacing.$spacing-md;
            }
            li {
                max-width: 100%;
                input[type="radio"] {
                    @include a11y.sr-only-focusable;
                    margin: spacing.$spacing-xs spacing.$spacing-xs 0 0;
                    &:checked + span,
                    &:checked + span + .count {
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
                label {
                    max-width: 100%;
                    display: flex;
                    flex: 1 0 100%;
                    .count {
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
