// -----------------------------------------------------------------------------
// Tabbed navigation that appears in the header of some pages.
// -----------------------------------------------------------------------------

@use "../base/breakpoints";
@use "../base/spacing";
@use "../base/typography";

.tabs {
    display: flex;
    justify-content: space-between;
    padding: spacing.$spacing-2xs;
    text-align: center;
    font-size: typography.$text-size-sm;
    margin: 0 auto;
    @include breakpoints.for-tablet-landscape-up {
        font-size: typography.$text-size-md;
    }
    a {
        text-decoration: none;
        font-size: typography.$text-size-sm;
        @include breakpoints.for-tablet-landscape-up {
            font-size: typography.$text-size-md;
        }
    }
    li {
        padding: 0 spacing.$spacing-lg;
    }
}
