// -----------------------------------------------------------------------------
// Tabbed navigation that appears in the header of some pages.
// -----------------------------------------------------------------------------

@use "../base/colors";
@use "../base/breakpoints";
@use "../base/spacing";
@use "../base/typography";

.tabs {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    border-bottom: 4px solid var(--tabs-bottom);
    @include typography.nav-link;
    a,
    span {
        flex: 1 0 auto;
        display: inline-block;
        padding-bottom: spacing.$spacing-xs;
        @include breakpoints.for-tablet-landscape-up {
            padding-left: spacing.$spacing-lg;
            padding-right: spacing.$spacing-lg;
        }
    }
    a {
        text-decoration: none;
        &:focus-visible {
            outline: 0.1rem solid var(--tabs-focus);
            outline-offset: -0.33rem;
        }
    }
    .disabled {
        color: var(--disabled);
    }
    // Center tab padding boost
    li:nth-child(2) a,
    li:nth-child(2) span {
        @include breakpoints.for-tablet-landscape-up {
            padding-left: spacing.$spacing-2xl;
            padding-right: spacing.$spacing-2xl;
        }
    }

    // Tab underlines
    .tab-underline {
        text-align: center;
        display: block;
        height: 4px;
        margin-bottom: -4px;
        @include breakpoints.for-tablet-landscape-up {
            width: 80%;
            margin-left: 10%;
        }
    }
    a[aria-current="page"] {
        @include typography.nav-bold;
        & + .tab-underline {
            background-color: var(--secondary);
        }
    }
    a:active,
    a:hover {
        & + .tab-underline {
            background-color: var(--tabs-bottom-hover);
        }
    }
}
