// -----------------------------------------------------------------------------
// Visual labels for concepts, themes & other document metadata.
// -----------------------------------------------------------------------------

@use "../base/typography";

.tags li {
    @include typography.meta;
    text-transform: lowercase;
    display: inline-block;
    &::before {
        content: "#";
    }

    // spacing between tags
    margin-right: 0.5rem;
    &:last-of-type {
        margin-right: 0;
    }
}

// When adding additional info to tag lists
.tags li.more {
    color: var(--on-background-alt);
    &::before {
        content: "";
    }
}
