{% load i18n %}

<div class="breadcrumbs-link-container">
    <a href="{% url 'entities:person-list' %}">
        {# Translators: Link to return to the list of people from a person page #}
        {% translate "Back to People" %}
    </a>
</div>

{# title #}
<h1>{{ person }}</h1>

{# edit link #}
{% if perms.entities.change_person %}
    <div class="edit-link-container">
        <a class="edit-link" href="{% url 'admin:entities_person_change' person.pk %}" data-turbo="false">
            <i class="ph-pencil"></i>
            <span>Edit</span>
        </a>
    </div>
{% endif %}
