{% load static entities_extras %}

{% for place in places %}
    <li>
        <svg
            class="marker"
            data-map-target="marker"
            data-lat="{{ place.location|split:","|first }}"
            data-lon="{{ place.location|split:","|last }}"
            data-slug="{{ place.slug }}"
            {% if forloop.last and not has_next %}data-final="true"{% endif %}
        >
            {% if place.is_region %}
                <use class="pin region" href="{% static 'img/ui/all/all/map-pin-region.svg' %}#pin" />
                <use class="selected-pin region" href="{% static 'img/ui/all/all/map-pin-region-fill.svg' %}#pin" />
            {% else %}
                <use class="pin" href="{% static 'img/ui/all/all/map-pin.svg' %}#pin" />
                <use class="selected-pin" href="{% static 'img/ui/all/all/map-pin-fill.svg' %}#pin" />
            {% endif %}
        </svg>
    </li>
{% endfor %}
