/* layout */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* header */
body > header {
    display: flex;
    justify-content: space-between;
}
body > header fieldset {
    display: grid;
    grid-template-columns: minmax(15rem, 1fr) auto;
    grid-gap: 1rem;
    align-items: center;
}
body > header fieldset > input[type="submit"],
body > header fieldset > select {
    margin-bottom: 0;
}


/* main content */
body > main {
    margin: clamp(1rem, 5vw, 4rem);
}

/* footer */
body > footer {
    text-align: center;
}