# configuration settings for geniza flask search prototype

SOLR_URL = 'http://localhost:8983/solr/'
SOLR_CORE = 'geniza'
METADATA_CSV_URL = ''
XML_TRANSCRIPTIONS_DIR = ''
# path to data dir that includes the transcription json file
# NOTE: must be an absolute path for flask to serve data
DATA_DIR = ''