asttokens==2.0.5
backcall==0.2.0
black==22.1.0
blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
cycler==0.11.0
cymem==2.0.6
decorator==5.1.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
et-xmlfile==1.1.0
executing==0.8.2
fonttools==4.29.1
funcy==1.17
future==0.18.2
gensim==4.1.2
idna==3.3
imageio==2.16.1
ipython==8.0.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
langcodes==3.3.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
murmurhash==1.0.6
mypy-extensions==0.4.3
nltk==3.7
numexpr==2.8.1
numpy==1.22.2
openpyxl==3.0.9
packaging==21.3
pandas==1.4.0
parso==0.8.3
pathspec==0.9.0
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.0
preshed==3.0.6
prompt-toolkit==3.0.28
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==1.8.2
Pygments==2.11.2
pyLDAvis==3.3.1
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
regex==2022.1.18
requests==2.27.1
scikit-learn @ git+https://github.com/scikit-learn/scikit-learn.git@5afd5e160bb731a0445c960fd94740080a44ebd7
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
sklearn==0.0
smart-open==5.2.1
spacy==3.2.2
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
stack-data==0.2.0
thinc==8.0.13
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.62.3
traitlets==5.1.1
typer==0.4.0
typing_extensions==4.1.1
urllib3==1.26.8
wasabi==0.9.0
wcwidth==0.2.5
