{% load i18n corpus_extras %}

{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
    {# For anonymous users, only display languages in PUBLIC_SITE_LANGUAGES #}
    {% if user.is_authenticated or language.code in PUBLIC_SITE_LANGUAGES %}
        {% language language.code %} {# display label for language in that language! #}
            {# Translators: label for language choices in navigation #}
            {% blocktranslate with language_name=language.name_local language_code=language.code trimmed asvar lang_link_label %}
                read this page in {{ language_name }} ({{ language_code }})
            {% endblocktranslate %}
        {% endlanguage %}
        <li>
            <a href="{% translate_url language.code %}" title="{{ lang_link_label }}" lang="{{ language.code }}" data-turbo="false"{% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                <span class="sr-only">{{ lang_link_label }}</span>
            </a>
        </li>
    {% endif %}
{% endfor %}
