{% load i18n wagtailcore_tags %}

<ul class="sub-menu" id="{{ top_level_page.slug }}" role="menu" aria-label="{{ top_level_page.localized.slug }}">
    {% if in_header == "true" %}
        <li class="menu-button" role="none">
            <a id="back-to-main-menu" href="#menu" role="button">
                {# Translators: label for main menu back button for mobile navigation #}
                {% translate "Return to main menu" as back_button %}
                <span class="sr-only">{{ back_button }}</span>
            </a>
        </li>
    {% endif %}
    <li class="menu-label" role="none">
        <span>{{ top_level_page.localized.title }}</span>
    </li>
    {% if in_header == "true" %}
        <li class="menu-button" role="none">
            <a href="#" role="button">
                <span class="sr-only">{{ close_button }}</span>
            </a>
        </li>
    {% endif %}
    {% for child_page in top_level_page.localized.get_children.live.in_menu %}
        <li class="menu-item" role="none">
            <a
                {% pageurl child_page.localized as child_page_url %}
                href="{{ child_page_url }}"
                role="menuitem"
                {% if request.path == child_page_url %}aria-current="page"{% endif %}
            >
                {{ child_page.localized.title }}
            </a>
        </li>
    {% endfor %}
</ul>