{% extends 'base.html' %}
{% load static i18n humanize widget_tweaks %}

{% block meta_title %}{{ page_title }}{% endblock meta_title %}
{% block meta_description %}{{ page_description }}{% endblock meta_description %}

{% block main %}
    <h1>{{ page_title }}</h1>

    <form data-controller="search" data-turbo-frame="main" data-turbo-action="advance" data-page="person">
        <div id="filters-header">
            <a href="#filters" role="button" id="filters-button" data-search-target="filtersButton" data-action="click->search#toggleFiltersOpen">
                <svg><use xlink:href="{% static 'img/ui/all/all/search-filter-icon.svg' %}#filter-icon" /></svg>
                <span>{% translate "Filters" %}</span>
                {% if applied_filters %}
                    <span class="filter-count">{{ applied_filters|length }}</span>
                {% endif %}
            </a>
            {% if applied_filters %}
                {# convenient unapply filter buttons; aria role set to presentation as functionality duplicated below #}
                <div id="applied-filters" role="presentation">
                    {% for filter in applied_filters %}
                        <button
                            data-field="{{ filter.field }}"
                            value="{{ filter.value }}"
                            data-action="click->search#unapplyFilter"
                        >
                            {{ filter.label }}
                            <i class="ph-x"></i>
                        </button>
                    {% endfor %}
                </div>
                <button id="clear-filters" data-action="click->search#clearFilters">
                    {# Translators: label for button to clear all applied filters #}
                    {% translate "Clear all" %}
                </button>
            {% endif %}
        </div>
        <div class="modal-backdrop" aria-hidden="true" data-action="click->search#closeFilters"></div>
        <fieldset id="filters" aria-expanded="false" data-search-target="filterModal">
            <legend>{% translate "Filters" %}</legend>
            <a href="#" role="button" id="close-filters-modal" data-action="click->search#closeFilters">
                {# Translators: label for 'filters' close button for mobile navigation #}
                {% translate "Close filter options" as close_button %}
                <span class="sr-only">{{ close_button }}</span>
            </a>
            <div class="fieldset-left-column">
                <label for="{{ form.gender.auto_id }}">
                    <span class="fieldname">{{ form.gender.label }}</span>
                    {% render_field form.gender data-action="search#update" %}
                </label>
                <label for="{{ form.date_range.auto_id }}">
                    <span class="fieldname">{{ form.date_range.label }}</span>
                    {% render_field form.date_range data-action="search#update" %}
                </label>
            </div>
            <label for="{{ form.social_role.auto_id }}">
                <span class="fieldname">{{ form.social_role.label }}</span>
                {% render_field form.social_role data-action="search#update" %}
            </label>
            <label for="{{ form.document_relation.auto_id }}">
                <span class="fieldname">{{ form.document_relation.label }}</span>
                {% render_field form.document_relation data-action="search#update" %}
            </label>
        </fieldset>
        <section id="person-list" data-action="click@document->search#clickCloseDropdown">
            <div class="header-row">
                <h2>
                    {# Translators: search results section header #}
                    {% translate "Results" %}
                </h2>
                <span class="result-count">
                    {# Translators: number of results #}
                    {% blocktranslate with count_humanized=paginator.count|intcomma count counter=paginator.count trimmed %}
                        1 result
                    {% plural %}
                        {{ count_humanized }} results
                    {% endblocktranslate %}
                </span>
                <fieldset id="sort">
                    <label for="{{ form.sort.auto_id }}">{{ form.sort.label }}</label>
                    <details data-search-target="dropdownDetails">
                        <summary>
                            {{ form.get_sort_label|default:"Name" }}
                        </summary>
                        <div id="sort-options">
                            {% render_field form.sort data-action="search#update" %}
                            {% render_field form.sort_dir data-action="search#update" %}
                        </div>
                    </details>
                </fieldset>
            </div>
            {# list view table #}
            <table>
                <thead>
                    {# Translators: Person "name" column header on the browse page #}
                    <th>{% translate "Name" %}</th>
                    {# Translators: Person "gender" column header on the browse page #}
                    <th>{% translate "Gender" %}</th>
                    {# Translators: Person "dates of activity" column header on the browse page #}
                    <th class="dates">{% translate "Dates" %}</th>
                    {# Translators: Person "social role" column header on the browse page #}
                    <th>{% translate "Social role" %}</th>
                    <th class="related documents">
                        {# Translators: Person "document count" column header on the browse page #}
                        <span class="sr-only">{% translate "Number of related documents" %}</span>
                    </th>
                    <th class="related people">
                        {# Translators: Person "related people count" column header on the browse page #}
                        <span class="sr-only">{% translate "Number of related people" %}</span>
                    </th>
                    <th class="related places">
                        {# Translators: Person "related place count" column header on the browse page #}
                        <span class="sr-only">{% translate "Number of related places" %}</span>
                    </th>
                </thead>
                <tbody>
                    {% for person in people %}
                        <tr>
                            <td class="name">
                                {% if person.url %}
                                    <a href="{{ person.url }}">{{ person.name }}</a>
                                {% else %}
                                    <span>{{ person.name }}</span>
                                {% endif %}
                            </td>
                            <td>{{ person.gender }}</td>
                            <td class="dates">{{ person.date_str }}</td>
                            <td>{{ person.role }}</td>
                            <td class="related">{{ person.documents }}</td>
                            <td class="related">{{ person.people }}</td>
                            <td class="related">{{ person.places }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {# grid / mobile view #}
            <div class="grid">
                {% for person in people %}
                    <div class="person">
                        {# Translators: accessible label for section showing metadata like name, gender, etc #}
                        <dl aria-label="{% translate 'metadata' %}">
                            <dt class="sr-only">{% translate "Name" %}</dt>
                            <dd class="name">
                                {% if person.url %}
                                    <a href="{{ person.url }}">{{ person.name }}</a>
                                {% else %}
                                    <span>{{ person.name }}</span>
                                {% endif %}
                            </dd>
                            <dt class="sr-only">{% translate "Gender" %}</dt>
                            <dd>{{ person.gender }}</dd>
                            <dt class="sr-only">{% translate 'Dates' %}</dt>
                            <dd>{{ person.date_str }}</dd>
                            <dt class="sr-only">{% translate "Social role" %}</dt>
                            <dd>{{ person.role }}</dd>
                            {# Translators: label for person description / bio #}
                            <dt class="sr-only">{% translate "Description / Bio" %}</dt>
                            <dd class="description">{{ person.description.0|truncatewords:15 }}</dd>
                        </dl>
                        {# Translators: accessible label for section showing counts of entries related to an entity #}
                        <dl class="relations" aria-label="{% translate 'Related entries' %}">
                            <dt class="sr-only">{% translate "Number of related people" %}</dt>
                            <dd class="people">
                                <span>{{ person.people }}</span>
                            </dd>
                            <dt class="sr-only">{% translate "Number of related places" %}</dt>
                            <dd class="places">
                                <span>{{ person.places }}</span>
                            </dd>
                            <dt class="sr-only">{% translate "Number of related documents" %}</dt>
                            <dd class="documents">
                                <span>{{ person.documents }}</span>
                            </dd>
                        </dl>
                    </div>
                {% endfor %}
            </div>
        </section>
    </form>
    <div class="pagination-container">
        {# Translators: range of search results on the current page, out of total #}
        {% blocktranslate with start=page_obj.start_index end=page_obj.end_index count_humanized=paginator.count|intcomma %}
            <div>{{ start }} – {{ end }} of {{ count_humanized }}</div>
        {% endblocktranslate %}
        {% include "corpus/snippets/pagination.html" %}
    </div>
{% endblock %}
