
/* customize headings for Language+Script to handle long labels */
th.column-documents, th.column-probable_documents {
	max-width: 5em;
}
.model-languagescript.change-list #changelist table thead th {
	vertical-align: bottom;
}	
.model-languagescript.change-list #changelist table thead .text {
	white-space: break-spaces;
}

#content-related {
	clear: right;
}

/* tweak footnote document relation display for better use of space */
.field-doc_relation ul {
	margin-left: 0;
}
.field-doc_relation li {
	list-style-type: none;
}

/* make first/last revision dates look like actual fields */
.module + .module {
	margin-top: -30px;
}