/* global */
* { font-family: sans-serif; }

/* layout */
body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
dt, dd { margin: 0; }
dt {margin-top: 20px;}
dd ~ dd { margin-top: 5px; }

dt.inline { display: inline; }
dt.inline + dd { display: inline; }
dt.inline::after { content: ':'; }

dl.tags { text-align: right; }

/* viewer */
.wrapper {
    display: block;
    width: clamp(300px, 75vw, 90vw)
}
#iiif_viewer {
    position: relative;
    height: clamp(200px, 75vh, 75vh);
}

/* visual */
.tag {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 2px;
}

/* utility */
.container { width: clamp(30ch, 75%, 60ch); }
.sr-only:not(:focus):not(:active) {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}


.search .result {
    margin: 35px 0;
}

.search ol {
  list-style: none; 
  counter-reset: search-counter;
}
.search li {
  counter-increment: search-counter;
}
.search h2::before {
  /* anchor counter to h2 instead of li, for alignment regardless of tags */
  content: counter(search-counter);
  margin-left: -30px;
  text-align: left;
  float: left;
  font-weight: bold;
}

.search h2 {
    font-weight: normal;
    font-size: 100%;
    clear: right;
}

.search dl.tags { text-align: left; }

.search a.view {
    display: block;
    color: black;
    text-decoration: none;
    text-align: right;
}