.ribbon-box {
    width: 350px;
    height: 350px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11;
    background: transparent;
    font-size: 0.875rem;
    opacity: 0.95;
    transition: opacity 0.2s;
}
.ribbon-box * {
    max-width: none;
}
.ribbon-box.fade {
    opacity: 0.3;
    pointer-events: none;
}
.ribbon-box.fade button {
    display: none;
}
.ribbon-box strong {
    font-weight: bold;
    font-family: "Greta Sans Regular Bold", Arial, sans-serif;
}
.ribbon-box p {
    padding: 5px 80px;
}
.ribbon-box .heading {
    font-size: 1rem;
    font-family: "Greta Sans Regular", Arial, sans-serif;
}
.ribbon-box button {
    border: #f8f8f8;
    border-radius: 5px;
    color: black;
    background-color: #f8f8f8;
    padding: 5px;
    margin-bottom: 5px;
}

.ribbon-wrapper {
    width: 375px;
    height: 375px;
    overflow: hidden;
    position: absolute;
    right: -1px;
    top: -1px;
}
.ribbon-wrapper .ribbon {
    background-color: #ff4545;
    color: #fff;
    font-size: 0.8em;
    right: -75px;
    line-height: 1.5em;
    padding: 2px 7px;
    position: relative;
    text-align: center;
    top: 55px;
    transform: rotate(45deg);
    width: 400px;
}
